@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    layui.use(['jquery', 'form', 'table', 'common', 'tablePlug'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            common = layui.common;
        var keyValue = $.request("keyValue");
        wcLoading.close();
        common.rendertable({
            elem: '#currentTableId',
            url: '/SystemManage/CodeGenerator/GetTableFieldJson?keyValue=' + keyValue,
            toolbar: false,
            page:false,
            cols: [[
                { field: 'TableColumn', title: '列名', width: 150, sort: true },
                { field: 'Datatype', title: '数据类型', width: 120, sort: true },
                { field: 'TableIdentity', title: '主键', width: 100, sort: true },
                { field: 'IsNullable', title: '可空', width: 100, sort: true },
                { field: 'FieldLength', title: '长度', width: 100 },
                { field: 'Remark', title: '说明', width: 150 },
            ]],
        });
        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            common.reloadtable({
                elem: 'currentTableId',
                page: false,
                curr: 1,
                where: { keyword: data.field.txt_keyword }
            });
            return false;
        });
    });
</script>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            @*<legend>搜索信息</legend>*@
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">字段名称:</label>
                            <div class="layui-input-inline">
                                <input type="text" id="txt_keyword" name="txt_keyword" autocomplete="off" class="layui-input" placeholder="">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

    </div>
</div>