<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/lib/font-awesome-4.7.0/css/font-awesome.css?v=@WaterCloud.Code.GlobalContext.GetVersion()" rel="stylesheet" />
    <script src="~/lib/jquery-3.4.1/jquery-3.4.1.min.js?v=@WaterCloud.Code.GlobalContext.GetVersion()" charset="utf-8"></script>
    <link rel="stylesheet" href="~/js/lay-module/dtree/dtree.css?v=@WaterCloud.Code.GlobalContext.GetVersion()">
    <link rel="stylesheet" href="~/js/lay-module/dtree/font/dtreefont.css?v=@WaterCloud.Code.GlobalContext.GetVersion()">
    <script src="~/js/framework-clientdata.js?v=@WaterCloud.Code.GlobalContext.GetVersion()"></script>
    <script src="~/js/framework-ui.js?v=@WaterCloud.Code.GlobalContext.GetVersion()"></script>
    <script src="~/lib/layui/layui.js?v=@WaterCloud.Code.GlobalContext.GetVersion()"></script>
    <link rel="stylesheet" href="~/lib/layui/css/layui.css?v=@WaterCloud.Code.GlobalContext.GetVersion()" media="all">
    <link rel="stylesheet" href="~/css/public.css?v=@WaterCloud.Code.GlobalContext.GetVersion()" media="all">
    <script src="~/js/lay-config.js?v=@WaterCloud.Code.GlobalContext.GetVersion()" charset="utf-8"></script>
    <link href="~/css/watercloud.css?v=@WaterCloud.Code.GlobalContext.GetVersion()" rel="stylesheet" />
    <link rel="stylesheet" href="~/js/lay-module/loading/wcLoading.css?v=@WaterCloud.Code.GlobalContext.GetVersion()" media="all">
    <link rel="stylesheet" href="~/css/soulTable.css?v=@WaterCloud.Code.GlobalContext.GetVersion()" media="all">
    <script src="~/js/lay-module/loading/wcLoading.js?v=@WaterCloud.Code.GlobalContext.GetVersion()" charset="utf-8"></script>
</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>
