@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    layui.use(['form', 'table', 'common', 'optimizeSelectOption', 'commonTable'], function () {
        var form = layui.form,
            table = layui.table,
            commonTable = layui.commonTable,
            common = layui.common;
        //加载数据
        wcLoading.close();
        //权限控制(js是值传递)
        currentTableBar.innerHTML = common.authorizeButtonNew(currentTableBar.innerHTML);
        toolbarDemo.innerHTML = common.authorizeButtonNew(toolbarDemo.innerHTML);
        commonTable.rendertable({
            elem: '#currentTableId',
            id: 'currentTableId',
            url: '/SystemOrganize/User/GetGridJson',
            cols: [[
                { type: "radio", width: 50, fixed: 'left' },
                { field: 'Account', title: '账户', width: 150, sort: true, filter: true},
                { field: 'RealName', title: '姓名', width: 120, sort: true, filter: true },
                {
                    field: 'Gender', title: '性别', width: 80, sort: true, filter: true,
                    templet: function (d) {
                        if (d.Gender == true) {
                            return "男";
                        } else {
                            return "女";
                        }
                    }
                },
                { field: 'MobilePhone', title: '手机', width: 120, sort: true, filter: true },
                {
                    field: 'CompanyName', title: '公司名称', width: 150, sort: true, filter: true
                },
                {
                    field: 'DepartmentName', title: '部门名称', width: 200, sort: true
                },
                {
                    field: 'DutyName', title: '岗位名称', width: 120, sort: true, filter: true
                },
                {
                    field: 'EnabledMark', title: '状态', width: 80, sort: true, filter: true,
                    templet: function (d) {
                        if (d.EnabledMark == true) {
                            return "<span class='layui-btn layui-btn-normal layui-btn-xs'>有效</span>";
                        } else {
                            return "<span class='layui-btn layui-btn-warm layui-btn-xs'>无效</span>";
                        }
                    }
                },
                {
                    field: 'CreatorTime', title: '创建时间', width: 160, sort: true, filter: { type: 'date[yyyy/MM/dd HH:mm:ss]' }
                },
                { field: 'Description', title: '备注', minWidth: 150, sort: true, filter: true },
                { title: '操作', width: 260, toolbar: '#currentTableBar', align: "center", fixed: 'right'}
            ]]
        });
        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            commonTable.reloadtable({
                elem: 'currentTableId',
                curr: 1,
                where: { keyword: data.field.txt_keyword }
            });
            return false;
        });
        //行点击事件监听，控制按钮显示
        var oneList = ["NF-edit", "NF-details", "NF-revisepassword", "NF-disabled", "NF-enabled","NF-delete"];//选择1条显示
        commonTable.tableRowClick("radio", "currentTableFilter", "currentTableId", oneList);
        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            var data = table.checkStatus('currentTableId').data;
            var id = data.length > 0 ? data[0].Id : null;
            if (obj.event === 'add') {  // 监听删除操作
                common.modalOpen({
                    title: "添加用户",
                    url: "/SystemOrganize/User/Form",
                    width: "780px",
                    height: "550px",
                    //callBack: function (index) {
                    //    var iframe = "layui-layer-iframe" + index;
                    //    window.frames[iframe].submitForm();
                    //}
                });
            }
            else if (obj.event === 'delete') {
                if (id == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                common.deleteForm({
                    url: "/SystemOrganize/User/DeleteForm",
                    param: { keyValue: id },
                    success: function () {
                        common.reload('data-search-btn');
                    }
                });
            }
            else if (obj.event === 'disabled') {
                if (id == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                common.submitPost({
                    prompt: "注：您确定要【禁用】该项账户吗？",
                    url: "/SystemOrganize/User/DisabledAccount",
                    param: { keyValue: id },
                    success: function () {
                        common.reload('data-search-btn');
                    }
                });
            }
            else if (obj.event === 'enabled') {
                if (id == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                common.submitPost({
                    prompt: "注：您确定要【启用】该项账户吗？",
                    url: "/SystemOrganize/User/EnabledAccount",
                    param: { keyValue: id },
                    success: function () {
                        common.reload('data-search-btn');
                    }
                });
            }
            else if (obj.event === 'edit') {
                if (id == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                common.modalOpen({
                    title: "编辑用户",
                    url: "/SystemOrganize/User/Form?keyValue=" + id,
                    width: "780px",
                    height: "550px",
                    //callBack: function (index) {
                    //    var iframe = "layui-layer-iframe" + index;
                    //    window.frames[iframe].submitForm();
                    //}
                });
            }
            else if (obj.event === 'details') {
                if (id == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                common.modalOpen({
                    title: "查看用户",
                    url: "/SystemOrganize/User/Details?keyValue=" + id,
                    width: "780px",
                    height: "550px",
                    btn: []
                    //callBack: function (index) {
                    //    var iframe = "layui-layer-iframe" + index;
                    //    window.frames[iframe].submitForm();
                    //}
                });
            }
            else if (obj.event === 'revisepassword') {
                if (id == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                common.modalOpen({
                    title: "重置密码",
                    url: '/SystemOrganize/User/RevisePassword?keyValue=' + id,
                    width: "400px",
                    height: "300px",
                    //callBack: function (index) {
                    //    var iframe = "layui-layer-iframe" + index;
                    //    window.frames[iframe].submitForm();
                    //}
                });
            }
            else if (obj.event === 'TABLE_SEARCH') {
                var _that = $("#searchField");
                if (_that.hasClass("layui-hide")) {
                    _that.removeClass('layui-hide');
                } else {
                    _that.addClass('layui-hide');
                }
            }
            return false;
        });
        //toolrow监听事件
        table.on('tool(currentTableFilter)', function (obj) {
            var id = obj.data.Id;
            if (obj.event === 'delete') {
                common.deleteForm({
                    url: "/SystemOrganize/User/DeleteForm",
                    param: { keyValue: id },
                    success: function () {
                        common.reload('data-search-btn');
                    }
                });
            }
            else if (obj.event === 'disabled') {
                common.submitPost({
                    prompt: "注：您确定要【禁用】该项账户吗？",
                    url: "/SystemOrganize/User/DisabledAccount",
                    param: { keyValue: id },
                    success: function () {
                        common.reload('data-search-btn');
                    }
                });
            }
            else if (obj.event === 'enabled') {
                common.submitPost({
                    prompt: "注：您确定要【启用】该项账户吗？",
                    url: "/SystemOrganize/User/EnabledAccount",
                    param: { keyValue: id },
                    success: function () {
                        common.reload('data-search-btn');
                    }
                });
            }
            else if (obj.event === 'edit') {
                common.modalOpen({
                    title: "编辑用户",
                    url: "/SystemOrganize/User/Form?keyValue=" + id,
                    width: "780px",
                    height: "550px",
                });
            }
            else if (obj.event === 'revisepassword') {
                common.modalOpen({
                    title: "重置密码",
                    url: '/SystemOrganize/User/RevisePassword?keyValue=' + id,
                    width: "400px",
                    height: "300px",
                });
            }
            return false;
        });
    });
</script>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset layui-hide" id="searchField">
            @*<legend>搜索信息</legend>*@
            <div>
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">关键字:</label>
                            <div class="layui-input-inline">
                                <input type="text" id="txt_keyword" name="txt_keyword" autocomplete="off" class="layui-input" placeholder="">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container" id="toolbar">
                <button id="NF-add" authorize="yes" class="layui-btn layui-btn-sm data-add-btn" lay-event="add"><i class="layui-icon">&#xe654;</i>新建</button>
                <button id="NF-edit" name="NF-edit" authorize="yes" class="layui-btn layui-btn-sm layui-btn-warm data-edit-btn layui-hide" lay-event="edit"><i class="layui-icon">&#xe642;</i>修改</button>
                <button id="NF-delete" name="NF-delete" authorize="yes" class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn layui-hide" lay-event="delete"> <i class="layui-icon">&#xe640;</i>删除</button>
                <button id="NF-details" name="NF-details" authorize="yes" class="layui-btn layui-btn-sm layui-btn-normal data-info-btn layui-hide" lay-event="details"> <i class="layui-icon">&#xe60b;</i>查看</button>
                <button id="NF-revisepassword" name="NF-revisepassword" authorize="yes" class="layui-btn layui-btn-sm layui-btn-warm data-revisepassword-btn layui-hide" lay-event="revisepassword"><i class="layui-icon">&#xe673;</i>密码重置</button>
                <button id="NF-disabled" name="NF-disabled" authorize="yes" class="layui-btn layui-btn-sm layui-btn-danger data-disabled-btn layui-hide" lay-event="disabled"><i class="fa fa-stop-circle"></i>禁用</button>
                <button id="NF-enabled" name="NF-enabled" authorize="yes" class="layui-btn layui-btn-sm data-enabled-btn layui-hide" lay-event="enabled"> <i class="fa fa-play-circle"></i>启用</button>
            </div>
        </script>
        <script type="text/html" id="currentTableBar">
            <a id="NF-edit" authorize class="layui-btn layui-btn-sm" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
            <a id="NF-delete" authorize class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete"><i class="layui-icon">&#xe640;</i></a>
            <a id="NF-revisepassword" authorize class="layui-btn layui-btn-sm layui-btn-warm" lay-event="revisepassword"><i class="layui-icon">&#xe673;</i></a>
            <a id="NF-disabled" authorize class="layui-btn layui-btn-sm layui-btn-danger" lay-event="disabled"><i class="fa fa-stop-circle"></i></a>
            <a id="NF-enabled" authorize class="layui-btn layui-btn-sm" lay-event="enabled"><i class="fa fa-play-circle"></i></a>
        </script>
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

    </div>
</div>