@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    layui.use(['jquery', 'form', 'table', 'common', 'tablePlug', "layer"], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            layer = layui.layer,
            common = layui.common;
        //加载数据
        var loading = layer.load(0, { shade: false });
        //权限控制(js是值传递)
        toolbarDemo.innerHTML = common.authorizeButtonNew(toolbarDemo.innerHTML);
        common.rendertable({
            elem: '#currentTableId',
            url: '/SystemOrganize/User/GetGridJson',
            sqlkey: 'F_Id',//数据库主键
            cols: [[
                { field: 'F_Id', title: 'ID', sort: true, fixed: "left", hide: true, hideAlways: true },
                { field: 'F_Account', title: '账户', width: 100, sort: true},
                { field: 'F_RealName', title: '姓名', width: 100, sort: true },
                {
                    field: 'F_Gender', title: '性别', width: 80, sort: true,
                    templet: function (d) {
                        if (d.F_Gender == true) {
                            return "男";
                        } else {
                            return "女";
                        }
                    }
                },
                { field: 'F_MobilePhone', title: '手机', width: 120, sort: true },
                {
                    field: 'F_OrganizeId', title: '公司', width: 150, sort: true,
                    templet: function (d) {
                        return top.clients.company[d.F_OrganizeId] == null ? "" : top.clients.company[d.F_OrganizeId].fullname;
                    }
                },
                {
                    field: 'F_DepartmentId', title: '部门', width: 100, sort: true,
                    templet: function (d) {
                        var list = d.F_DepartmentId.split(',');
                        var temp = [];
                        for (var i = 0; i < list.length; i++) {
                            if (top.clients.organize[list[i]] != null) temp.push(top.clients.organize[list[i]].fullname);
                        }
                        return (temp.join(','));

                    }
                },
                {
                    field: 'F_DutyId', title: '岗位', width: 100, sort: true,
                    templet: function (d) {
                        return top.clients.duty[d.F_DutyId] == null ? "" : top.clients.duty[d.F_DutyId].fullname;
                    }
                },
                {
                    field: 'F_EnabledMark', title: '状态', width: 120, sort: true,
                    templet: function (d) {
                        if (d.F_EnabledMark == true) {
                            return "<span class=\"layui-bg-green\">正常</span>";
                        } else {
                            return "<span class=\"layui-bg-red\">禁用</span>";
                        }
                    }
                },
                {
                    field: 'F_CreatorTime', title: '创建时间', width: 120, sort: true,
                    templet: function (d) {
                        if (d.F_CreatorTime) {
                            var time = new Date(d.F_CreatorTime);
                            return time.Format("yyyy-MM-dd");
                        }
                    }
                },
                { field: 'F_Description', title: '备注', minWidth: 150, sort: true },
            ]]
        });
        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            common.reloadtable({
                elem: 'currentTableId',
                curr: 1,
                where: { keyword: data.field.txt_keyword }
            });
            user = null;
            return false;
        });
        var user;
        table.on('row(currentTableFilter)', function (obj) {
            obj.tr.addClass("layui-table-click").siblings().removeClass("layui-table-click");
            user = obj;
        })
        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听删除操作
                common.modalOpen({
                    title: "添加用户",
                    url: "/SystemOrganize/User/Form",
                    width: "750px",
                    height: "550px",
                    //callBack: function (index) {
                    //    var iframe = "layui-layer-iframe" + index;
                    //    window.frames[iframe].submitForm();
                    //}
                });
            }
            else if (obj.event === 'delete') {
                if (user == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                common.deleteForm({
                    url: "/SystemOrganize/User/DeleteForm",
                    param: { keyValue: user.data.F_Id },
                    success: function () {
                        common.reload('data-search-btn');
                    }
                });
            }
            else if (obj.event === 'disabled') {
                if (user == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                common.modalConfirm("注：您确定要【禁用】该项账户吗？", function (r) {
                    if (r) {
                        common.submitForm({
                            url: "/SystemOrganize/User/DisabledAccount",
                            param: { keyValue: user.data.F_Id },
                            close: false,
                            success: function () {
                                common.reload('data-search-btn');
                            }
                        })
                    }
                });
            }
            else if (obj.event === 'enabled') {
                if (user == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                common.modalConfirm("注：您确定要【启用】该项账户吗？", function (r) {
                    if (r) {
                        common.submitForm({
                            url: "/SystemOrganize/User/EnabledAccount",
                            param: { keyValue: user.data.F_Id },
                            close: false,
                            success: function () {
                                common.reload('data-search-btn');
                            }
                        })
                    }
                });
            }
            else if (obj.event === 'edit') {
                if (user == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                common.modalOpen({
                    title: "编辑用户",
                    url: "/SystemOrganize/User/Form?keyValue=" + user.data.F_Id,
                    width: "750px",
                    height: "550px",
                    //callBack: function (index) {
                    //    var iframe = "layui-layer-iframe" + index;
                    //    window.frames[iframe].submitForm();
                    //}
                });
            }
            else if (obj.event === 'details') {
                if (user == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                common.modalOpen({
                    title: "查看用户",
                    url: "/SystemOrganize/User/Details?keyValue=" + user.data.F_Id,
                    width: "750px",
                    height: "550px",
                    btn: []
                    //callBack: function (index) {
                    //    var iframe = "layui-layer-iframe" + index;
                    //    window.frames[iframe].submitForm();
                    //}
                });
            }
            else if (obj.event === 'revisepassword') {
                if (user == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                common.modalOpen({
                    title: "重置密码",
                    url: '/SystemOrganize/User/RevisePassword?keyValue=' + user.data.F_Id,
                    width: "400px",
                    height: "300px",
                    //callBack: function (index) {
                    //    var iframe = "layui-layer-iframe" + index;
                    //    window.frames[iframe].submitForm();
                    //}
                });
            }
            return false;
        });
    });
</script>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            @*<legend>搜索信息</legend>*@
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">关键字:</label>
                            <div class="layui-input-inline">
                                <input type="text" id="txt_keyword" name="txt_keyword" autocomplete="off" class="layui-input" placeholder="">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container" id="toolbar">
                <button id="NF-add" authorize="yes" class="layui-btn layui-btn-sm data-add-btn layui-hide" lay-event="add"><i class="layui-icon">&#xe654;</i>新建</button>
                <button id="NF-edit" authorize="yes" class="layui-btn layui-btn-sm layui-btn-warm data-edit-btn layui-hide" lay-event="edit"><i class="layui-icon">&#xe642;</i>修改</button>
                <button id="NF-delete" authorize="yes" class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn layui-hide" lay-event="delete"> <i class="layui-icon">&#xe640;</i>删除</button>
                <button id="NF-details" authorize="yes" class="layui-btn layui-btn-sm layui-btn-normal data-info-btn layui-hide" lay-event="details"> <i class="layui-icon">&#xe60b;</i>查看</button>
                <button id="NF-revisepassword" authorize="yes" class="layui-btn layui-btn-sm layui-btn-warm data-revisepassword-btn layui-hide" lay-event="revisepassword"><i class="layui-icon">&#xe673;</i>密码重置</button>
                <button id="NF-disabled" authorize="yes" class="layui-btn layui-btn-sm layui-btn-danger data-disabled-btn layui-hide" lay-event="disabled"><i class="fa fa-stop-circle"></i>禁用</button>
                <button id="NF-enabled" authorize="yes" class="layui-btn layui-btn-sm data-enabled-btn layui-hide" lay-event="enabled"> <i class="fa fa-play-circle"></i>启用</button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

    </div>
</div>