@{
    ViewBag.Title = "RevisePassword";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    layui.use(['jquery', 'form', 'laydate', 'common', 'optimizeSelectOption'], function () {
        var form = layui.form,
            $ = layui.$,
            common = layui.common,
            laydate = layui.laydate;
        var keyValue = $.request("keyValue");
        //权限字段
        common.authorizeFields('useradmin');
        $(function () {
            common.ajax({
                url: "/SystemOrganize/User/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    form.val("useradmin", data);
                }
            });
        });
        wcLoading.close();
        //监听提交
        form.on('submit(saveBtn)', function (data) {
                var postData = data.field;
                postData["keyValue"] = keyValue;
                common.submitForm({
                    loading: "正在修改数据...",
                    url: "/SystemOrganize/User/SubmitRevisePassword",
                    param: postData,
                    success: function () {
                    }
                })
            return false;
        });
    });
</script>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-form layuimini-form" lay-filter="useradmin">
            <div class="layui-form-item layui-hide">
                <label class="layui-form-label required">账户</label>
                <div class="layui-input-block">
                    <input type="text" id="F_Account" name="F_Account" lay-verify="required" readonly class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-hide">
                <label class="layui-form-label required">姓名</label>
                <div class="layui-input-block">
                    <input type="text" id="F_RealName" name="F_RealName" lay-verify="required" readonly class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-hide">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input type="password" id="F_UserPassword" name="F_UserPassword" lay-verify="required|pass" class="layui-input ">
                </div>
            </div>
            <div class="layui-form-item layui-hide">
                <button class="layui-btn site-demo-active" lay-submit id="submit" lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
</div>
