@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    layui.use(['jquery', 'form', 'laydate', 'tablePlug', 'common'], function () {
        var form = layui.form,
            $ = layui.$,
            common = layui.common,
            laydate = layui.laydate;
        var keyValue = $.request("keyValue");
        var moduleId = $.request("moduleId");
        $(function () {
            initControl();
            if (!!keyValue) {
                common.ajax({
                    url: "/SystemManage/ModuleButton/GetFormJson",
                    dataType: "json",
                    data: { keyValue: keyValue },
                    async: false,
                    success: function (data) {
                        common.val('adminform', data);
                        common.setReadOnly('adminform');
                    }
                });
            }
            form.render();
        });
        function initControl() {
            $("#F_ParentId").bindSelect({
                url: "/SystemManage/ModuleButton/GetTreeSelectJson",
                param: { moduleId: moduleId },
            });
        }
    });
</script>
<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div class="layui-form layuimini-form" lay-filter="adminform">
                <div class="layui-form-item">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_FullName" name="F_FullName" lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">编号</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_EnCode" name="F_EnCode" lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">上级</label>
                    <div class="layui-input-block">
                        <select id="F_ParentId" name="F_ParentId" lay-verify="required">
                            <option value="0">父节点</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">位置</label>
                    <div class="layui-input-block">
                        <select id="F_Location" name="F_Location" lay-verify="required">
                            <option value="">==请选择==</option>
                            <option value="1">初始</option>
                            <option value="2">选中</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">事件</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_JsEvent" name="F_JsEvent" lay-verify="required" class="layui-input ">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">连接</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_UrlAddress" name="F_UrlAddress" lay-verify="required" class="layui-input ">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">显示顺序</label>
                    <div class="layui-input-block">
                        <input type="text" id="F_SortCode" name="F_SortCode" lay-verify="required" class="layui-input ">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">选项</label>
                    <div class="layui-input-block">
                        <input id="F_Split" name="F_Split" type="checkbox" value="true" title="分开线">
                        <input id="F_IsPublic" name="F_IsPublic" type="checkbox" value="true" title="公共">
                        <input type="checkbox" name="F_EnabledMark" id="F_EnabledMark" checked="" value="true" title="有效">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">介绍</label>
                    <div class="layui-input-block">
                        <textarea id="F_Description" name="F_Description" class="layui-textarea" placeholder="请输入介绍"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
