@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="layuimini-container">
    <div class="layuimini-main">
        <iframe src="~/page/preview.html" id="frmPreview" onload="setIframeHeight(this)"style="width:100%;min-height:300px">
        </iframe>
    </div>
</div>
<script>
    //只读参数
    var readonly = true;
    var dataJson=[];
    layui.use(['jquery', 'form', 'common'], function () {
        var form = layui.form,
            common = layui.common,
            $ = layui.jquery;
        var keyValue = $.request("keyValue");
        $(function () {
            common.ajax({
                url: '/SystemManage/Form/GetFormJson',
                dataType: 'json',
                data: { keyValue: keyValue },
                async: false,
                success: function (data) {
                    if (data.F_FrmType != 0) {
                        $("#frmPreview").attr("src",document.location.origin + '/form/' + data.F_WebId + '.html');
                    }
                    else {
                        //表单设计器
                        dataJson = JSON.parse(data.F_Content);
                        $("#frmPreview").attr("src",document.location.origin +'/page/preview.html');

                    }
                }
            });
            form.render();
        });
        wcLoading.close();
    })
</script>
