@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
 }
 <div class="layuimini-container">
     <div class="layuimini-main">
         <fieldset class="table-search-fieldset layui-hide" id="searchField">
             <div>
                 <form class="layui-form layui-form-pane">
                     <div class="layui-form-item">
                         <div class="layui-inline">
                             <label class="layui-form-label">关键字:</label>
                             <div class="layui-input-inline">
                                 <input type="text" id="txt_keyword" name="txt_keyword" autocomplete="off" class="layui-input">
                             </div>
                         </div>
                         <div class="layui-inline">
                             <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                         </div>
                     </div>
                 </form>
             </div>
         </fieldset>
         <script type="text/html" id="toolbarDemo">
             <div class="layui-btn-container">
                 <button id="NF-add" name="NF-add" authorize class="layui-btn layui-btn-sm data-add-btn" lay-event="add"><i class="layui-icon">&#xe654;</i>新增</button>
                 <button id="NF-edit" name="NF-edit" authorize class="layui-btn layui-btn-sm layui-btn-warm data-edit-btn layui-hide" lay-event="edit"><i class="layui-icon">&#xe642;</i>修改</button>
                 <button id="NF-delete" name="NF-delete" authorize class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn layui-hide" lay-event="delete"> <i class="layui-icon">&#xe640;</i>删除</button>
                 <button id="NF-details" name="NF-details" authorize class="layui-btn layui-btn-sm layui-btn-normal data-info-btn layui-hide" lay-event="details"> <i class="layui-icon">&#xe60b;</i>查看</button>
             </div>
         </script>
         <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
         <script type="text/html" id="currentTableBar">
             <a id="NF-edit" authorize class="layui-btn layui-btn-sm" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
             <a id="NF-delete" authorize class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"><i class="layui-icon">&#xe640;</i></a>
             <a id="NF-details" authorize class="layui-btn layui-btn-sm layui-btn-normal data-info-btn" lay-event="details"><i class="layui-icon">&#xe60b;</i></a>
         </script>
     </div>
 </div>
 <script>
     layui.use(['jquery', 'form', 'common', 'table', 'commonTable', 'layer'], function () {
         var $ = layui.jquery,
             form = layui.form,
             layer = layui.layer,
             table = layui.table,
             commonTable = layui.commonTable,
             common = layui.common;
         //行操作权限控制(js是值传递)
         currentTableBar.innerHTML = common.authorizeButtonNew(currentTableBar.innerHTML);
         toolbarDemo.innerHTML = common.authorizeButtonNew(toolbarDemo.innerHTML);
         wcLoading.close();
         var options = {
             elem: '#currentTableId',
             url: '/ContentManage/ArticleCategory/GetTreeGridJson',
             treeIdName: 'F_Id',  // id字段名称
             treePidName: 'F_ParentId',     // pid字段名称
             cols: [[
                 { type: "radio", width: 50, fixed: 'left' },
                 { field: 'F_FullName', title: '类别名称', width: 200, filter: true },
                 { field: 'F_SortCode', title: '排序', width: 80, filter: true},
                 { field: 'F_Description', title: '描述', minWidth: 220, filter: true },
                 {
                     field: 'F_EnabledMark', title: '状态', width: 80, filter: true,
                     templet: function (d) {
                         if (d.F_EnabledMark == true) {
                             return "<span class='layui-btn layui-btn-normal layui-btn-xs'>有效</span>";
                         } else {
                             return "<span class='layui-btn layui-btn-warm layui-btn-xs'>无效</span>";
                         }
                     }
                 },
                 {
                     field: 'F_CreatorTime', title: '创建时间', minWidth: 160, sort: true, filter: { type: 'date[yyyy/MM/dd HH:mm:ss]' }
                 },
                 { field: 'F_CreatorUserId', title: '创建人', width: 120, hide: true },
                 { title: '操作', width: 175, toolbar: '#currentTableBar', align: "center", fixed: 'right' }//插件没有fixed参数
             ]],
         };
         commonTable.rendertreetable(options);
         // 监听搜索操作
         form.on('submit(data-search-btn)', function (data) {
             queryJson = data.field.txt_keyword;
             options.where = { keyword: queryJson };
             commonTable.rendertreetable(options);
             return false;
         });
         //行点击事件监听，控制按钮显示
         var oneList = ["NF-edit", "NF-details", "NF-delete"];//选择1条显示
         //var morerList = ["NF-delete"];//选中1条以上
         commonTable.tableRowClick("radio", "currentTableFilter", "currentTableId", oneList);
         //common.treeTableRowClick("radio", rendertree, "currentTableId", oneList, morerList);
         //toolbar监听事件
         table.on('toolbar(currentTableFilter)', function (obj) {
             var data = table.checkStatus('currentTableId').data;
             var id = data.length > 0 ? data[0].F_Id : null;
             if (obj.event === 'add') {  // 监听添加操作
                 common.modalOpen({
                     title: "添加界面",
                     url: "/ContentManage/ArticleCategory/Form",
                     width: "500px",
                     height: "500px",
                 });
             }
             else if (obj.event === 'delete') {
                 if (data.length == 0) {
                     common.modalMsg("未选中数据", "warning");
                     return false;
                 }
                 var ids = [];
                 for (var i = 0; i < data.length; i++) {
                     ids.push(data[i].F_Id);
                 }
                 common.deleteForm({
                     url: "/ContentManage/ArticleCategory/DeleteForm",
                     param: { keyValue: ids.join(',') },
                     success: function () {
                         common.reload('data-search-btn');
                     }
                 });
             }
             else if (obj.event === 'edit') {
                 var data = table.checkStatus('currentTableId').data;
                 if (data.length == 0) {
                     common.modalMsg("未选中数据", "warning");
                     return false;
                 }
                 if (data.length > 1) {
                     common.modalMsg("只能选择一条编辑", "warning");
                     return false;
                 }
                 common.modalOpen({
                     title: "编辑界面",
                     url: "/ContentManage/ArticleCategory/Form?keyValue=" + id,
                     width: "500px",
                     height: "500px",
                     dataJson: data[0],
                 });
             }
             else if (obj.event === 'details') {
                 var data = table.checkStatus('currentTableId').data;
                 if (data.length == 0) {
                     common.modalMsg("未选中数据", "warning");
                     return false;
                 }
                 if (data.length > 1) {
                     common.modalMsg("只能选择一条查看", "warning");
                     return false;
                 }
                 common.modalOpen({
                     title: "查看界面",
                     url: "/ContentManage/ArticleCategory/Details?keyValue=" + id,
                     width: "500px",
                     height: "500px",
                     dataJson: data[0],
                     btn: []
                 });
             }
             else if (obj.event === 'TABLE_SEARCH') {
                 var _that = $("#searchField");
                 if (_that.hasClass("layui-hide")) {
                     _that.removeClass('layui-hide');
                 } else {
                     _that.addClass('layui-hide');
                 }
                table.resize();
             }
             return false;
         });
         //toolbar监听事件
         table.on('tool(currentTableFilter)', function (obj) {
             var id = obj.data.F_Id;
             if (obj.event === 'delete') {
                 common.deleteForm({
                     url: "/ContentManage/ArticleCategory/DeleteForm",
                     param: { keyValue: obj.data.F_Id },
                     success: function () {
                         obj.del();
                     }
                 });
             }
             else if (obj.event === 'edit') {
                 common.modalOpen({
                     title: "编辑界面",
                     url: "/ContentManage/ArticleCategory/Form?keyValue=" + id,
                     width: "500px",
                     height: "500px",
                     dataJson: obj.data,
                 });
             }
             else if (obj.event === 'details') {
                 common.modalOpen({
                     title: "查看界面",
                     url: "/ContentManage/ArticleCategory/Details?keyValue=" + id,
                     width: "500px",
                     height: "500px",
                     dataJson: obj.data,
                     btn: []
                 });
             }
             return false;
         });
     });
 </script>
