<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="WaterCloudDbContext" connectionString="Data Source = 192.168.1.17;Initial Catalog = WaterCloudNetDb;User ID=sa;Password=admin@12345;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>-->
  <add name="WaterCloudDbContext" connectionString="data source= localhost;database =watercloudnetdb;uid=root;pwd=root;" providerName="MySql.Data.MySqlClient"/> 
</connectionStrings>