<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs\nlog-internal.log">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <variable name="logDir" value="logs"/>
  <variable name="logLayout" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"/>
  <targets>
    <target name="file" xsi:type="File"
            fileName="${logDir}/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}.log"
            layout="${logLayout}"
            archiveFileName="${logDir}/${date:format=yyyy-MM}/archive/{#}.log"
            maxArchiveFiles="7"
            archiveEvery="Day"
            archiveAboveSize="20971520"
            archiveNumbering="Rolling"
            maxArchiveSize="73400320"
            concurrentWrites="true"
            keepFileOpen="false"/>
    <target name="console" xsi:type="Console" layout="${logLayout}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file,console"/>
    <logger name="Microsoft.*" maxlevel="Warning" final="true"/>
  </rules>
</nlog>
