USE [master]
GO
/****** Object:  Database [WaterCloudNetDb]    Script Date: 04/28/2020 08:52:41 ******/
CREATE DATABASE [WaterCloudNetDb] ON  PRIMARY 
( NAME = N'WaterCloudNetDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\WaterCloudNetDb.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WaterCloudNetDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\WaterCloudNetDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WaterCloudNetDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WaterCloudNetDb]
GO
/****** Object:  Table [dbo].[Wct_WxPropertyInfo]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Wct_WxPropertyInfo](
	[uuId] [varchar](50) NOT NULL,
	[WxId] [varchar](50) NULL,
	[TypeId] [int] NULL,
	[TypeName] [varchar](100) NULL,
	[IName] [varchar](200) NULL,
	[IContent] [varchar](max) NULL,
	[ExpiresIn] [int] NULL,
	[Count] [int] NULL,
	[CategoryId] [int] NULL,
	[CategoryName] [varchar](50) NULL,
	[Remark] [varchar](1000) NULL,
	[Status] [bit] NULL,
	[Creator] [varchar](50) NULL,
	[CreatorId] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [varchar](50) NULL,
	[ModifierId] [varchar](50) NULL,
	[ModifyTime] [datetime] NULL,
	[DeleterId] [varchar](50) NULL,
	[DeleteTime] [datetime] NULL,
 CONSTRAINT [PK_WeiXin_WxPropertyInfo] PRIMARY KEY NONCLUSTERED 
(
	[uuId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Wct_WxAppConfig]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Wct_WxAppConfig](
	[uuId] [varchar](50) NOT NULL,
	[WxName] [varchar](50) NULL,
	[WxId] [varchar](50) NOT NULL,
	[WxCode] [varchar](50) NULL,
	[HeadPic] [varchar](50) NULL,
	[Province] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[Token] [varchar](300) NULL,
	[ApiUrl] [varchar](500) NULL,
	[AppId] [varchar](200) NULL,
	[AppSecret] [varchar](200) NULL,
	[Access_Token] [varchar](200) NULL,
	[Encoding] [varchar](200) NULL,
	[WxType] [int] NULL,
	[Status] [bit] NULL,
	[IsDefault] [bit] NULL,
	[CloseKW] [bit] NULL,
	[Remark] [varchar](50) NULL,
	[TimeStamp] [varchar](50) NULL,
	[ExtStr] [varchar](1000) NULL,
	[ExtStr2] [varchar](1000) NULL,
	[ExtStr3] [varchar](1000) NULL,
	[PersonSynDate] [datetime] NULL,
	[OpenidCount] [int] NULL,
	[Creator] [varchar](50) NULL,
	[CreatorId] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [varchar](50) NULL,
	[ModifierId] [varchar](50) NULL,
	[ModifyTime] [datetime] NULL,
	[DeleterId] [varchar](50) NULL,
	[DeleteTime] [datetime] NULL,
 CONSTRAINT [PK_WeiXin_WxAppConfig] PRIMARY KEY NONCLUSTERED 
(
	[uuId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Wct_Users]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Wct_Users](
	[uuId] [varchar](50) NOT NULL,
	[OpenId] [varchar](300) NOT NULL,
	[Nickname] [varchar](200) NULL,
	[Mobile] [varchar](20) NULL,
	[Sex] [varchar](10) NULL,
	[City] [varchar](200) NULL,
	[Country] [varchar](200) NULL,
	[Province] [varchar](200) NULL,
	[Language] [varchar](30) NULL,
	[HeadImgUrl] [varchar](1000) NULL,
	[SubscribeTime] [varchar](30) NULL,
	[Unionid] [varchar](200) NULL,
	[CreateDate] [datetime] NULL,
	[GroupId] [int] NULL,
	[Status] [int] NULL,
	[WeixinId] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[Creator] [varchar](50) NULL,
	[CreatorId] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [varchar](50) NULL,
	[ModifierId] [varchar](50) NULL,
	[ModifyTime] [datetime] NULL,
	[DeleterId] [varchar](50) NULL,
	[DeleteTime] [datetime] NULL,
 CONSTRAINT [PK_WeiXin_Users] PRIMARY KEY NONCLUSTERED 
(
	[uuId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Wct_TemplateMessage]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Wct_TemplateMessage](
	[uuId] [varchar](50) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[TemplateId] [varchar](100) NOT NULL,
	[Title] [varchar](50) NULL,
	[Primary_Industry] [int] NULL,
	[Deputy_Industry] [int] NULL,
	[Data_First] [varchar](100) NULL,
	[Data_Remark] [varchar](100) NULL,
	[Data_Keyword1] [varchar](50) NULL,
	[Data_Keyword2] [varchar](50) NULL,
	[Data_Keyword3] [varchar](50) NULL,
	[Data_Keyword4] [varchar](50) NULL,
	[Data_Keyword5] [varchar](50) NULL,
	[LinkUrl] [varchar](50) NULL,
	[MiniProgram] [int] NULL,
	[Appid] [varchar](50) NULL,
	[Pagepath] [varchar](50) NULL,
	[FirstColor] [nchar](10) NULL,
	[RemarkColor] [nchar](10) NULL,
	[Content] [varchar](500) NULL,
	[Creator] [varchar](50) NULL,
	[CreatorId] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [varchar](50) NULL,
	[ModifierId] [varchar](50) NULL,
	[ModifyTime] [datetime] NULL,
	[DeleterId] [varchar](50) NULL,
	[DeleteTime] [datetime] NULL,
 CONSTRAINT [PK_WeiXin_TemplateMessage] PRIMARY KEY NONCLUSTERED 
(
	[uuId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Wct_ResponseBaseData]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Wct_ResponseBaseData](
	[uuId] [varchar](50) NOT NULL,
	[OpenId] [varchar](100) NULL,
	[RequestType] [varchar](50) NULL,
	[RequestContent] [varchar](2000) NULL,
	[ResponseType] [varchar](50) NULL,
	[ReponseContent] [varchar](2000) NULL,
	[XmlContent] [varchar](2000) NULL,
	[CreateDate] [datetime] NULL,
	[Flag] [int] NULL,
	[RType] [varchar](70) NULL,
	[Remark] [varchar](500) NULL,
	[ExtInt] [int] NULL,
	[ExtStr] [varchar](200) NULL,
	[ExtStr2] [varchar](700) NULL,
	[ExtStr3] [varchar](2000) NULL,
	[Creator] [varchar](50) NULL,
	[CreatorId] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [varchar](50) NULL,
	[ModifierId] [varchar](50) NULL,
	[ModifyTime] [datetime] NULL,
	[DeleterId] [varchar](50) NULL,
	[DeleteTime] [datetime] NULL,
 CONSTRAINT [PK_WeiXin_ResponseBaseData] PRIMARY KEY NONCLUSTERED 
(
	[uuId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Wct_RequestRuleContent]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Wct_RequestRuleContent](
	[uuId] [varchar](50) NOT NULL,
	[UserId] [varchar](50) NULL,
	[RId] [varchar](50) NULL,
	[RContent] [text] NULL,
	[RContent2] [varchar](2000) NULL,
	[DetailUrl] [varchar](1000) NULL,
	[PicUrl] [varchar](1000) NULL,
	[MediaUrl] [varchar](1500) NULL,
	[MeidaHDUrl] [varchar](1500) NULL,
	[Remark] [varchar](2000) NULL,
	[Seq] [int] NULL,
	[CreateDate] [datetime] NULL,
	[ExtInt] [int] NULL,
	[ExtInt2] [int] NULL,
	[ExtStr] [varchar](800) NULL,
	[ExtStr2] [varchar](1000) NULL,
	[Extstr3] [varchar](1500) NULL,
	[Creator] [varchar](50) NULL,
	[CreatorId] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [varchar](50) NULL,
	[ModifierId] [varchar](50) NULL,
	[ModifyTime] [datetime] NULL,
	[DeleterId] [varchar](50) NULL,
	[DeleteTime] [datetime] NULL,
 CONSTRAINT [PK_WeiXin_RequestRuleContent] PRIMARY KEY NONCLUSTERED 
(
	[uuId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Wct_RequestRule]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Wct_RequestRule](
	[uuId] [varchar](50) NOT NULL,
	[UserId] [varchar](50) NULL,
	[RuleName] [varchar](200) NULL,
	[ReqKeywords] [varchar](2000) NULL,
	[ReqestType] [nchar](10) NULL,
	[ResponseType] [int] NULL,
	[IsDefault] [bit] NULL,
	[ModelFunctionName] [varchar](200) NULL,
	[ModelFunctionId] [int] NULL,
	[Seq] [int] NULL,
	[CreateDate] [datetime] NULL,
	[AgentUrl] [varchar](1000) NULL,
	[AgentToken] [varchar](200) NULL,
	[IsLikeSearch] [bit] NULL,
	[ExtInt] [int] NULL,
	[ExtInt2] [int] NULL,
	[ExtStr] [varchar](200) NULL,
	[ExtStr2] [varchar](500) NULL,
	[ExtStr3] [varchar](800) NULL,
	[ExtStr4] [varchar](1000) NULL,
	[Creator] [varchar](50) NULL,
	[CreatorId] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [varchar](50) NULL,
	[ModifierId] [varchar](50) NULL,
	[ModifyTime] [datetime] NULL,
	[DeleterId] [varchar](50) NULL,
	[DeleteTime] [datetime] NULL,
 CONSTRAINT [PK_WeiXin_RequestRule] PRIMARY KEY NONCLUSTERED 
(
	[uuId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Wct_RequestBaseData]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Wct_RequestBaseData](
	[uuId] [varchar](50) NOT NULL,
	[OpenId] [varchar](100) NULL,
	[MsgType] [varchar](100) NULL,
	[DataContent] [varchar](2000) NULL,
	[EventKey] [varchar](500) NULL,
	[Url] [varchar](500) NULL,
	[Url2] [varchar](500) NULL,
	[XmlContent] [varchar](2000) NULL,
	[CreateDate] [datetime] NULL,
	[Flag] [int] NULL,
	[RType] [varchar](70) NULL,
	[Remark] [varchar](500) NULL,
	[ExtInt] [int] NULL,
	[ExtStr] [varchar](200) NULL,
	[ExtStr2] [varchar](700) NULL,
	[ExtStr3] [varchar](2000) NULL,
	[Creator] [varchar](50) NULL,
	[CreatorId] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [varchar](50) NULL,
	[ModifierId] [varchar](50) NULL,
	[ModifyTime] [datetime] NULL,
	[DeleterId] [varchar](50) NULL,
	[DeleteTime] [datetime] NULL,
 CONSTRAINT [PK_WeiXin_RequestBaseData] PRIMARY KEY NONCLUSTERED 
(
	[uuId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_UserLogOn]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_UserLogOn](
	[F_Id] [varchar](50) NOT NULL,
	[F_UserId] [varchar](50) NULL,
	[F_UserPassword] [varchar](50) NULL,
	[F_UserSecretkey] [varchar](50) NULL,
	[F_AllowStartTime] [datetime] NULL,
	[F_AllowEndTime] [datetime] NULL,
	[F_LockStartDate] [datetime] NULL,
	[F_LockEndDate] [datetime] NULL,
	[F_FirstVisitTime] [datetime] NULL,
	[F_PreviousVisitTime] [datetime] NULL,
	[F_LastVisitTime] [datetime] NULL,
	[F_ChangePasswordDate] [datetime] NULL,
	[F_MultiUserLogin] [bit] NULL,
	[F_LogOnCount] [int] NULL,
	[F_UserOnLine] [bit] NULL,
	[F_Question] [varchar](50) NULL,
	[F_AnswerQuestion] [varchar](500) NULL,
	[F_CheckIPAddress] [bit] NULL,
	[F_Language] [varchar](50) NULL,
	[F_Theme] [varchar](50) NULL,
	[F_LoginSession] [varchar](100) NULL,
	[F_ErrorNum] [int] NULL,
 CONSTRAINT [PK_Sys_UserLogOn] PRIMARY KEY NONCLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_UserLogOn] ([F_Id], [F_UserId], [F_UserPassword], [F_UserSecretkey], [F_AllowStartTime], [F_AllowEndTime], [F_LockStartDate], [F_LockEndDate], [F_FirstVisitTime], [F_PreviousVisitTime], [F_LastVisitTime], [F_ChangePasswordDate], [F_MultiUserLogin], [F_LogOnCount], [F_UserOnLine], [F_Question], [F_AnswerQuestion], [F_CheckIPAddress], [F_Language], [F_Theme], [F_LoginSession], [F_ErrorNum]) VALUES (N'', N'', N'0fc8fc444215fa5698280501d09396cd', N'c212273e935c93a4', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0)
/****** Object:  Table [dbo].[Sys_User]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_User](
	[F_Id] [varchar](50) NOT NULL,
	[F_Account] [varchar](50) NULL,
	[F_RealName] [varchar](50) NULL,
	[F_NickName] [varchar](50) NULL,
	[F_HeadIcon] [varchar](50) NULL,
	[F_Gender] [bit] NULL,
	[F_Birthday] [datetime] NULL,
	[F_MobilePhone] [varchar](20) NULL,
	[F_Email] [varchar](50) NULL,
	[F_WeChat] [varchar](50) NULL,
	[F_ManagerId] [varchar](50) NULL,
	[F_SecurityLevel] [int] NULL,
	[F_Signature] [varchar](500) NULL,
	[F_OrganizeId] [varchar](50) NULL,
	[F_DepartmentId] [varchar](500) NULL,
	[F_RoleId] [varchar](500) NULL,
	[F_DutyId] [varchar](500) NULL,
	[F_IsAdmin] [bit] NULL,
	[F_IsBoss] [bit] NULL,
	[F_IsLeaderInDepts] [bit] NULL,
	[F_IsSenior] [bit] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [varchar](500) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [varchar](50) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [varchar](500) NULL,
	[F_DingTalkUserId] [varchar](50) NULL,
	[F_DingTalkUserName] [varchar](50) NULL,
	[F_DingTalkAvatar] [varchar](100) NULL,
	[F_WxOpenId] [varchar](50) NULL,
	[F_WxNickName] [varchar](50) NULL,
	[F_HeadImgUrl] [varchar](100) NULL,
 CONSTRAINT [PK_Sys_User] PRIMARY KEY NONCLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Sys_User] UNIQUE NONCLUSTERED 
(
	[F_Account] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_ServerState]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_ServerState](
	[F_Id] [varchar](50) NOT NULL,
	[F_WebSite] [varchar](200) NOT NULL,
	[F_ARM] [varchar](50) NOT NULL,
	[F_CPU] [varchar](50) NOT NULL,
	[F_IIS] [varchar](50) NOT NULL,
	[F_Date] [date] NOT NULL,
	[F_Cout] [int] NOT NULL,
 CONSTRAINT [PK_Sys_ServerState] PRIMARY KEY CLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Sys_ServerState] UNIQUE NONCLUSTERED 
(
	[F_WebSite] ASC,
	[F_Date] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_ServerState] ([F_Id], [F_WebSite], [F_ARM], [F_CPU], [F_IIS], [F_Date], [F_Cout]) VALUES (N'07c7d9de-d1a3-434a-86a6-f3fe4d0d28f6', N'WaterCloud.Web', N'77.45', N'11.66', N'0', CAST(0xF8400B00 AS Date), 87)
INSERT [dbo].[Sys_ServerState] ([F_Id], [F_WebSite], [F_ARM], [F_CPU], [F_IIS], [F_Date], [F_Cout]) VALUES (N'1ab7e5bc-1d24-41a3-aa6c-f870da90d4be', N'WaterCloud.Web', N'83.81', N'14', N'0', CAST(0xFB400B00 AS Date), 2)
INSERT [dbo].[Sys_ServerState] ([F_Id], [F_WebSite], [F_ARM], [F_CPU], [F_IIS], [F_Date], [F_Cout]) VALUES (N'3a823abe-dc4e-4899-a157-c434e2120953', N'WaterCloud.Web', N'93.49', N'16.25', N'7', CAST(0xF4400B00 AS Date), 1)
/****** Object:  Table [dbo].[Sys_RoleAuthorize]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_RoleAuthorize](
	[F_Id] [varchar](50) NOT NULL,
	[F_ItemType] [int] NULL,
	[F_ItemId] [varchar](50) NULL,
	[F_ObjectType] [int] NULL,
	[F_ObjectId] [varchar](50) NULL,
	[F_SortCode] [int] NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL,
 CONSTRAINT [PK_Sys_RoleAuthorize] PRIMARY KEY NONCLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_RoleAuthorize] ([F_Id], [F_ItemType], [F_ItemId], [F_ObjectType], [F_ObjectId], [F_SortCode], [F_CreatorTime], [F_CreatorUserId]) VALUES (N'ccfcea25-cab8-42e7-aee3-61663d89ba93', 2, N'91be873e-ccb7-434f-9a3b-d312d6d5798a', 1, N'F0A2B36F-35A7-4660-B46C-D4AB796591EB', NULL, CAST(0x0000A64D00011940 AS DateTime), N'9f2ec079-7d0f-4fe2-90ab-8b09a8302aba')
INSERT [dbo].[Sys_RoleAuthorize] ([F_Id], [F_ItemType], [F_ItemId], [F_ObjectType], [F_ObjectId], [F_SortCode], [F_CreatorTime], [F_CreatorUserId]) VALUES (N'cd061505-61fe-4a4e-a612-41952ba33e3b', 1, N'163DA347-887C-4C91-8298-EB00FFBFEC84', 1, N'F0A2B36F-35A7-4660-B46C-D4AB796591EB', NULL, CAST(0x0000A64D00011940 AS DateTime), N'9f2ec079-7d0f-4fe2-90ab-8b09a8302aba')
INSERT [dbo].[Sys_RoleAuthorize] ([F_Id], [F_ItemType], [F_ItemId], [F_ObjectType], [F_ObjectId], [F_SortCode], [F_CreatorTime], [F_CreatorUserId]) VALUES (N'd4cd5d85-c730-4bd9-9d62-3233056fa7f3', 2, N'E29FCBA7-F848-4A8B-BC41-A3C668A9005D', 1, N'F0A2B36F-35A7-4660-B46C-D4AB796591EB', NULL, CAST(0x0000A64D00011940 AS DateTime), N'9f2ec079-7d0f-4fe2-90ab-8b09a8302aba')
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Sys_Role]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Role](
	[F_Id] [varchar](50) NOT NULL,
	[F_OrganizeId] [varchar](50) NULL,
	[F_Category] [int] NULL,
	[F_EnCode] [varchar](50) NULL,
	[F_FullName] [varchar](50) NULL,
	[F_Type] [varchar](50) NULL,
	[F_AllowEdit] [bit] NULL,
	[F_AllowDelete] [bit] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [varchar](500) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [varchar](50) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [varchar](500) NULL,
 CONSTRAINT [PK_Sys_Role] PRIMARY KEY NONCLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Sys_Role] UNIQUE NONCLUSTERED 
(
	[F_EnCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_Role] ([F_Id], [F_OrganizeId], [F_Category], [F_EnCode], [F_FullName], [F_Type], [F_AllowEdit], [F_AllowDelete], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'F0A2B36F-35A7-4660-B46C-D4AB796591EB', N'5AB270C0-5D33-4203-A54F-4552699FDA3C', 1, N'administrators', N'超级管理员', N'1', 1, 1, 1, 0, 1, NULL, CAST(0x0000A63F00000000 AS DateTime), NULL, CAST(0x0000A64D00011940 AS DateTime), N'9f2ec079-7d0f-4fe2-90ab-8b09a8302aba', NULL, NULL)
INSERT [dbo].[Sys_Role] ([F_Id], [F_OrganizeId], [F_Category], [F_EnCode], [F_FullName], [F_Type], [F_AllowEdit], [F_AllowDelete], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'4B2140D3-E61D-488E-ADF6-FF0EBCBC5D2C', N'5AB270C0-5D33-4203-A54F-4552699FDA3C', 1, N'system', N'系统管理员', N'1', 0, 0, 2, 0, 1, NULL, CAST(0x0000A63F00000000 AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_Role] ([F_Id], [F_OrganizeId], [F_Category], [F_EnCode], [F_FullName], [F_Type], [F_AllowEdit], [F_AllowDelete], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'42C44AC0-27FA-482D-B5E3-8F9B38B80A6A', N'5AB270C0-5D33-4203-A54F-4552699FDA3C', 1, N'configuration', N'系统配置员', N'2', 0, 0, 3, 0, 1, NULL, CAST(0x0000A63F00000000 AS DateTime), NULL, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[Sys_QuickModule]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_QuickModule](
	[F_Id] [varchar](50) NOT NULL,
	[F_ModuleId] [varchar](50) NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [varchar](500) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [varchar](50) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [varchar](50) NULL,
 CONSTRAINT [PK_Sys_QuickModule] PRIMARY KEY CLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Sys_QuickModule] UNIQUE NONCLUSTERED 
(
	[F_ModuleId] ASC,
	[F_CreatorUserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_QuickModule] ([F_Id], [F_ModuleId], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'13ec7aab-d25e-4ae9-aff4-a5a3d303ef9f', N'26452c9a-243d-4c81-97b9-a3ad581c3bf4', 0, 1, NULL, CAST(0x0000AB9D00EDEBF6 AS DateTime), N'9f2ec079-7d0f-4fe2-90ab-8b09a8302aba', NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_QuickModule] ([F_Id], [F_ModuleId], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'3b38d852-9a06-4d95-b6df-c431cb1e4ed7', N'64A1C550-2C61-4A8C-833D-ACD0C012260F', 0, 1, NULL, CAST(0x0000AB9D00EDEBF6 AS DateTime), N'9f2ec079-7d0f-4fe2-90ab-8b09a8302aba', NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_QuickModule] ([F_Id], [F_ModuleId], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'5b3c77aa-b2cb-4e04-a521-2856bc0360cf', N'e72c75d0-3a69-41ad-b220-13c9a62ec788', 0, 1, NULL, CAST(0x0000AB9D00EDEBF6 AS DateTime), N'9f2ec079-7d0f-4fe2-90ab-8b09a8302aba', NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[Sys_Organize]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Organize](
	[F_Id] [varchar](50) NOT NULL,
	[F_ParentId] [varchar](50) NULL,
	[F_Layers] [int] NULL,
	[F_EnCode] [varchar](50) NULL,
	[F_FullName] [varchar](50) NULL,
	[F_ShortName] [varchar](50) NULL,
	[F_CategoryId] [varchar](50) NULL,
	[F_ManagerId] [varchar](50) NULL,
	[F_TelePhone] [varchar](20) NULL,
	[F_MobilePhone] [varchar](20) NULL,
	[F_WeChat] [varchar](50) NULL,
	[F_Fax] [varchar](20) NULL,
	[F_Email] [varchar](50) NULL,
	[F_AreaId] [varchar](50) NULL,
	[F_Address] [varchar](500) NULL,
	[F_AllowEdit] [bit] NULL,
	[F_AllowDelete] [bit] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [varchar](500) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [varchar](50) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [varchar](500) NULL,
 CONSTRAINT [PK_Sys_Organize] PRIMARY KEY NONCLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Sys_Organize] UNIQUE NONCLUSTERED 
(
	[F_EnCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_Notice]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Notice](
	[F_Id] [varchar](50) NOT NULL,
	[F_Title] [varchar](50) NULL,
	[F_Content] [text] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [varchar](500) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL,
	[F_CreatorUserName] [varchar](50) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [varchar](50) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [varchar](500) NULL,
 CONSTRAINT [PK_Sys_Notice] PRIMARY KEY CLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Sys_Notice] UNIQUE NONCLUSTERED 
(
	[F_Title] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_ModuleFormInstance]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_ModuleFormInstance](
	[F_Id] [varchar](50) NOT NULL,
	[F_FormId] [varchar](50) NOT NULL,
	[F_ObjectId] [varchar](50) NULL,
	[F_InstanceJson] [varchar](max) NULL,
	[F_SortCode] [int] NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL,
 CONSTRAINT [PK_Sys_ModuleFormInstance] PRIMARY KEY NONCLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_ModuleForm]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_ModuleForm](
	[F_Id] [varchar](50) NOT NULL,
	[F_ModuleId] [varchar](50) NULL,
	[F_EnCode] [varchar](50) NULL,
	[F_FullName] [varchar](50) NULL,
	[F_FormJson] [varchar](max) NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [varchar](500) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [varchar](50) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [varchar](500) NULL,
 CONSTRAINT [PK_Sys_ModuleForm] PRIMARY KEY NONCLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_ModuleButton]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_ModuleButton](
	[F_Id] [varchar](50) NOT NULL,
	[F_ModuleId] [varchar](50) NULL,
	[F_ParentId] [varchar](50) NULL,
	[F_Layers] [int] NULL,
	[F_EnCode] [varchar](50) NULL,
	[F_FullName] [varchar](50) NULL,
	[F_Icon] [varchar](50) NULL,
	[F_Location] [int] NULL,
	[F_JsEvent] [varchar](50) NULL,
	[F_UrlAddress] [varchar](500) NULL,
	[F_Split] [bit] NULL,
	[F_IsPublic] [bit] NULL,
	[F_AllowEdit] [bit] NULL,
	[F_AllowDelete] [bit] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [varchar](500) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [varchar](50) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [varchar](50) NULL,
 CONSTRAINT [PK_Sys_ModuleButton] PRIMARY KEY NONCLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_Module]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Module](
	[F_Id] [varchar](50) NOT NULL,
	[F_ParentId] [varchar](50) NULL,
	[F_Layers] [int] NULL,
	[F_EnCode] [varchar](50) NULL,
	[F_FullName] [varchar](50) NULL,
	[F_Icon] [varchar](50) NULL,
	[F_UrlAddress] [varchar](500) NULL,
	[F_Target] [varchar](50) NULL,
	[F_IsMenu] [bit] NULL,
	[F_IsExpand] [bit] NULL,
	[F_IsPublic] [bit] NULL,
	[F_AllowEdit] [bit] NULL,
	[F_AllowDelete] [bit] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [varchar](500) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [varchar](50) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [varchar](50) NULL,
 CONSTRAINT [PK_Sys_Module] PRIMARY KEY NONCLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Sys_Module] UNIQUE NONCLUSTERED 
(
	[F_FullName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_Log]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Log](
	[F_Id] [varchar](50) NOT NULL,
	[F_Date] [datetime] NULL,
	[F_Account] [varchar](50) NULL,
	[F_NickName] [varchar](50) NULL,
	[F_Type] [varchar](50) NULL,
	[F_IPAddress] [varchar](50) NULL,
	[F_IPAddressName] [varchar](50) NULL,
	[F_ModuleId] [varchar](50) NULL,
	[F_ModuleName] [varchar](50) NULL,
	[F_Result] [bit] NULL,
	[F_Description] [varchar](500) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL,
	[F_KeyValue] [varchar](50) NULL,
 CONSTRAINT [PK_Sys_Log] PRIMARY KEY NONCLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_Log] ([F_Id], [F_Date], [F_Account], [F_NickName], [F_Type], [F_IPAddress], [F_IPAddressName], [F_ModuleId], [F_ModuleName], [F_Result], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_KeyValue]) VALUES (N'5fa60c9d-f373-493e-8783-b0a8f8212edd', CAST(0x0000AB8F011FF7FD AS DateTime), N'超级管理员', N'超级管理员', N'Login', N'117.81.192.182', N'江苏省苏州市 电信', NULL, N'系统登录', 0, N'登录失败，账户不存在，请重新输入', CAST(0x0000AB8F011FF84D AS DateTime), N'9f2ec079-7d0f-4fe2-90ab-8b09a8302aba', NULL)
INSERT [dbo].[Sys_Log] ([F_Id], [F_Date], [F_Account], [F_NickName], [F_Type], [F_IPAddress], [F_IPAddressName], [F_ModuleId], [F_ModuleName], [F_Result], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_KeyValue]) VALUES (N'01e8249d-93b2-4095-8a15-c8b75140c46d', CAST(0x0000AB8F011FFFB1 AS DateTime), N'admin', N'超级管理员', N'Login', N'117.81.192.182', N'江苏省苏州市 电信', NULL, N'系统登录', 1, N'登录成功', CAST(0x0000AB8F011FFFC3 AS DateTime), N'9f2ec079-7d0f-4fe2-90ab-8b09a8302aba', NULL)
INSERT [dbo].[Sys_Log] ([F_Id], [F_Date], [F_Account], [F_NickName], [F_Type], [F_IPAddress], [F_IPAddressName], [F_ModuleId], [F_ModuleName], [F_Result], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_KeyValue]) VALUES (N'0b7be642-19de-469a-ba76-65eb8bd0cc2a', CAST(0x0000AB9000B18C2C AS DateTime), N'admin', N'超级管理员', N'Login', N'117.81.192.182', N'江苏省苏州市 电信', NULL, N'系统登录', 1, N'登录成功', CAST(0x0000AB9000B18CFA AS DateTime), N'9f2ec079-7d0f-4fe2-90ab-8b09a8302aba', NULL)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Sys_ItemsDetail]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_ItemsDetail](
	[F_Id] [varchar](50) NOT NULL,
	[F_ItemId] [varchar](50) NULL,
	[F_ParentId] [varchar](50) NULL,
	[F_ItemCode] [varchar](50) NULL,
	[F_ItemName] [varchar](50) NULL,
	[F_SimpleSpelling] [varchar](500) NULL,
	[F_IsDefault] [bit] NULL,
	[F_Layers] [int] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [varchar](500) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [varchar](50) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [varchar](50) NULL,
 CONSTRAINT [PK_Sys_ItemsDetail] PRIMARY KEY NONCLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Sys_ItemsDetail] UNIQUE NONCLUSTERED 
(
	[F_ItemId] ASC,
	[F_ItemCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_ItemsDetail] ([F_Id], [F_ItemId], [F_ParentId], [F_ItemCode], [F_ItemName], [F_SimpleSpelling], [F_IsDefault], [F_Layers], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'B97BD7F5-B212-40C1-A1F7-DD9A2E63EEF2', N'9EB4602B-BF9A-4710-9D80-C73CE89BEC5D', NULL, N'Group', N'集团', NULL, 0, NULL, 1, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_ItemsDetail] ([F_Id], [F_ItemId], [F_ParentId], [F_ItemCode], [F_ItemName], [F_SimpleSpelling], [F_IsDefault], [F_Layers], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'2C3715AC-16F7-48FC-AB40-B0931DB1E729', N'9EB4602B-BF9A-4710-9D80-C73CE89BEC5D', NULL, N'Area', N'区域', NULL, 0, NULL, 2, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_ItemsDetail] ([F_Id], [F_ItemId], [F_ParentId], [F_ItemCode], [F_ItemName], [F_SimpleSpelling], [F_IsDefault], [F_Layers], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'D082BDB9-5C34-49BF-BD51-4E85D7BFF646', N'9EB4602B-BF9A-4710-9D80-C73CE89BEC5D', NULL, N'Company', N'公司', NULL, 0, NULL, 3, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[Sys_Items]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Items](
	[F_Id] [varchar](50) NOT NULL,
	[F_ParentId] [varchar](50) NULL,
	[F_EnCode] [varchar](50) NULL,
	[F_FullName] [varchar](50) NULL,
	[F_IsTree] [bit] NULL,
	[F_Layers] [int] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [varchar](500) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [varchar](50) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [varchar](50) NULL,
 CONSTRAINT [PK_Sys_Items] PRIMARY KEY NONCLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Sys_Items] UNIQUE NONCLUSTERED 
(
	[F_EnCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_Items] ([F_Id], [F_ParentId], [F_EnCode], [F_FullName], [F_IsTree], [F_Layers], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'9EB4602B-BF9A-4710-9D80-C73CE89BEC5D', N'77070117-3F1A-41BA-BF81-B8B85BF10D5E', N'OrganizeCategory', N'机构分类', 0, 2, 2, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_Items] ([F_Id], [F_ParentId], [F_EnCode], [F_FullName], [F_IsTree], [F_Layers], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'D94E4DC1-C2FD-4D19-9D5D-3886D39900CE', N'77070117-3F1A-41BA-BF81-B8B85BF10D5E', N'RoleType', N'角色类型', 0, 2, 3, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_Items] ([F_Id], [F_ParentId], [F_EnCode], [F_FullName], [F_IsTree], [F_Layers], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'0DF5B725-5FB8-487F-B0E4-BC563A77EB04', N'77070117-3F1A-41BA-BF81-B8B85BF10D5E', N'DbType', N'数据库类型', 0, 2, 4, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[Sys_FilterIP]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_FilterIP](
	[F_Id] [varchar](50) NOT NULL,
	[F_Type] [bit] NULL,
	[F_StartIP] [varchar](50) NULL,
	[F_EndIP] [varchar](50) NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [varchar](500) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [varchar](50) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [varchar](500) NULL,
 CONSTRAINT [PK_Sys_FilterIP] PRIMARY KEY NONCLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_FilterIP] ([F_Id], [F_Type], [F_StartIP], [F_EndIP], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'4e035f2b-a03b-49b5-a38d-1c6d211a2a04', 1, N'192.168.1.1', N'192.168.1.10', NULL, 0, 0, N'测试', CAST(0x0000A64701262FB8 AS DateTime), NULL, CAST(0x0000AB9200F34872 AS DateTime), N'9f2ec079-7d0f-4fe2-90ab-8b09a8302aba', NULL, NULL)
INSERT [dbo].[Sys_FilterIP] ([F_Id], [F_Type], [F_StartIP], [F_EndIP], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'b3fbe66f-82cd-4f4a-ada3-61eb5a2d9eee', 0, N'192.168.0.1', N'192.168.0.255', NULL, 0, 1, NULL, CAST(0x0000A6470126A614 AS DateTime), NULL, CAST(0x0000AB91009BB897 AS DateTime), N'9f2ec079-7d0f-4fe2-90ab-8b09a8302aba', NULL, NULL)
/****** Object:  Table [dbo].[Sys_DbBackup]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_DbBackup](
	[F_Id] [varchar](50) NOT NULL,
	[F_BackupType] [varchar](50) NULL,
	[F_DbName] [varchar](50) NULL,
	[F_FileName] [varchar](50) NULL,
	[F_FileSize] [varchar](50) NULL,
	[F_FilePath] [varchar](500) NULL,
	[F_BackupTime] [datetime] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [varchar](500) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [varchar](50) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [varchar](500) NULL,
 CONSTRAINT [PK_Sys_DbBackup] PRIMARY KEY NONCLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_Area]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Area](
	[F_Id] [varchar](50) NOT NULL,
	[F_ParentId] [varchar](50) NULL,
	[F_Layers] [int] NULL,
	[F_EnCode] [varchar](50) NULL,
	[F_FullName] [varchar](50) NULL,
	[F_SimpleSpelling] [varchar](50) NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [varchar](500) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [varchar](50) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [varchar](50) NULL,
 CONSTRAINT [PK_Sys_Area] PRIMARY KEY NONCLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Sys_Area] UNIQUE NONCLUSTERED 
(
	[F_Layers] ASC,
	[F_EnCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_Area] ([F_Id], [F_ParentId], [F_Layers], [F_EnCode], [F_FullName], [F_SimpleSpelling], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'120100', N'120000', 2, N'120100', N'天津市', N'tjs', 120100, 0, 1, NULL, CAST(0x0000A64900000000 AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_Area] ([F_Id], [F_ParentId], [F_Layers], [F_EnCode], [F_FullName], [F_SimpleSpelling], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'130100', N'130000', 2, N'130100', N'石家庄市', N'sjzs', 130100, 0, 1, NULL, CAST(0x0000A64900000000 AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_Area] ([F_Id], [F_ParentId], [F_Layers], [F_EnCode], [F_FullName], [F_SimpleSpelling], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'130200', N'130000', 2, N'130200', N'唐山市', N'tss', 130200, 0, 1, NULL, CAST(0x0000A64900000000 AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
/****** Object:  Table [dbo].[Message_ShortMsg]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Message_ShortMsg](
	[uuid] [varchar](50) NOT NULL,
	[aliCode] [varchar](50) NULL,
	[aliMessage] [varchar](50) NULL,
	[aliSendStatus] [int] NULL,
	[aliContent] [varchar](255) NULL,
	[aliSendDate] [datetime] NULL,
	[aliReceiveDate] [datetime] NULL,
	[phoneNumber] [varchar](20) NULL,
	[signName] [varchar](50) NULL,
	[templateCode] [varchar](50) NULL,
	[templateParam] [varchar](255) NULL,
	[creator] [varchar](50) NULL,
	[creatorId] [varchar](50) NULL,
	[createTime] [datetime] NULL,
	[modifier] [varchar](50) NULL,
	[modifierId] [varchar](50) NULL,
	[modifyTime] [datetime] NULL,
	[deleterId] [varchar](50) NULL,
	[deleteTime] [datetime] NULL,
 CONSTRAINT [PK_Message_ShortMsg] PRIMARY KEY NONCLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Dtk_User]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Dtk_User](
	[UserId] [varchar](50) NOT NULL,
	[OpenId] [varchar](50) NULL,
	[UserName] [varchar](50) NULL,
	[Active] [bit] NULL,
	[OrderInDepts] [varchar](50) NULL,
	[IsAdmin] [bit] NULL,
	[IsBoss] [bit] NULL,
	[Unionid] [varchar](100) NULL,
	[IsLeaderInDepts] [bit] NULL,
	[IsLeader] [bit] NULL,
	[IsHide] [bit] NULL,
	[Department] [varchar](50) NULL,
	[Position] [varchar](50) NULL,
	[Avatar] [varchar](100) NULL,
	[HiredDate] [varchar](50) NULL,
	[JobNumber] [varchar](50) NULL,
	[IsSenior] [bit] NULL,
	[Email] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[OrganizeId] [varchar](50) NULL,
	[RoleId] [varchar](50) NULL,
	[SysUserId] [varchar](50) NULL,
	[UpdateTime] [datetime] NULL,
 CONSTRAINT [PK_DingTalk_User] PRIMARY KEY NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Dtk_ProcessInstanceList]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Dtk_ProcessInstanceList](
	[uuId] [varchar](50) NOT NULL,
	[ProcessCode] [varchar](50) NULL,
	[Title] [varchar](50) NULL,
	[Approvers] [nvarchar](255) NULL,
	[CreateTime2] [datetime] NULL,
	[FinishTime] [datetime] NULL,
	[OriginatorUserId] [nvarchar](255) NULL,
	[OriginatorDeptId] [nvarchar](255) NULL,
	[Status] [varchar](50) NULL,
	[CcUserids] [nvarchar](255) NULL,
	[CcPosition] [varchar](50) NULL,
	[Result] [varchar](50) NULL,
	[BusinessId] [nvarchar](255) NULL,
	[OriginatorDeptName] [nvarchar](255) NULL,
	[BizAction] [nvarchar](255) NULL,
	[Tasks] [nvarchar](500) NULL,
	[FormComponentValues] [ntext] NULL,
	[Creator] [varchar](50) NULL,
	[CreatorId] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [varchar](50) NULL,
	[ModifierId] [varchar](50) NULL,
	[ModifyTime] [datetime] NULL,
	[DeleterId] [varchar](50) NULL,
	[DeleteTime] [datetime] NULL,
 CONSTRAINT [PK_DingTalk_ProcessInstanceList] PRIMARY KEY NONCLUSTERED 
(
	[uuId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Dtk_Department]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Dtk_Department](
	[Id] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
	[Order] [varchar](50) NULL,
	[ParentId] [varchar](50) NULL,
	[CreateDeptGroup] [bit] NULL,
	[AutoAddUser] [bit] NULL,
	[DeptHiding] [bit] NULL,
	[DeptPermits] [nvarchar](500) NULL,
	[UserPermits] [nvarchar](500) NULL,
	[OuterDept] [bit] NULL,
	[OuterPermitDepts] [nvarchar](500) NULL,
	[OuterPermitUsers] [nvarchar](500) NULL,
	[OrgDeptOwner] [varchar](50) NULL,
	[DeptManagerUseridList] [nvarchar](500) NULL,
	[SourceIdentifier] [varchar](50) NULL,
	[GroupContainSubDept] [bit] NULL,
	[UpdateTime] [datetime] NULL,
 CONSTRAINT [PK_DingTalk_Department] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Dtk_CorpConfig]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Dtk_CorpConfig](
	[uuId] [varchar](100) NOT NULL,
	[CorpId] [varchar](100) NULL,
	[CorpSecret] [varchar](100) NULL,
	[AppName] [varchar](100) NULL,
	[HeadPic] [varchar](100) NULL,
	[ApiUrl] [varchar](100) NULL,
	[AppId] [varchar](100) NULL,
	[AgentId] [varchar](100) NOT NULL,
	[AppKey] [varchar](100) NULL,
	[AppSecret] [varchar](100) NULL,
	[Access_Token] [varchar](100) NULL,
	[Status] [int] NULL,
	[Encoding] [varchar](100) NULL,
	[Remark] [varchar](100) NULL,
	[Creator] [varchar](50) NULL,
	[CreatorId] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [varchar](50) NULL,
	[ModifierId] [varchar](50) NULL,
	[ModifyTime] [datetime] NULL,
	[DeleterId] [varchar](50) NULL,
	[DeleteTime] [datetime] NULL,
 CONSTRAINT [PK_DingTalk_CorpConfig] PRIMARY KEY NONCLUSTERED 
(
	[uuId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Dtk_AppConfig]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Dtk_AppConfig](
	[AppCode] [varchar](50) NOT NULL,
	[AppName] [varchar](50) NULL,
	[AgentId] [varchar](50) NULL,
	[AppId] [varchar](50) NULL,
	[AppKey] [varchar](50) NULL,
	[AppSecret] [varchar](50) NULL,
	[Access_Token] [varchar](50) NULL,
	[Creator] [varchar](50) NULL,
	[CreatorId] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [varchar](50) NULL,
	[ModifierId] [varchar](50) NULL,
	[ModifyTime] [datetime] NULL,
	[DeleterId] [varchar](50) NULL,
	[DeleteTime] [datetime] NULL,
 CONSTRAINT [PK_DingTalk_AppConfig] PRIMARY KEY NONCLUSTERED 
(
	[AppCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Art_Tags]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Art_Tags](
	[T_TagId] [varchar](50) NOT NULL,
	[T_Tag] [varchar](50) NULL,
 CONSTRAINT [PK_Base_Tags] PRIMARY KEY NONCLUSTERED 
(
	[T_TagId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Art_Category]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Art_Category](
	[F_Id] [varchar](50) NOT NULL,
	[F_Title] [varchar](50) NULL,
	[F_ParentId] [varchar](50) NULL,
	[F_Layer] [int] NULL,
	[F_SortCode] [int] NULL,
	[F_IsHead] [bit] NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [varchar](50) NULL,
 CONSTRAINT [PK_DC_Article_Category] PRIMARY KEY NONCLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Art_Article]    Script Date: 04/28/2020 08:52:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Art_Article](
	[F_Id] [varchar](50) NOT NULL,
	[F_CategoryId] [varchar](50) NULL,
	[F_Title] [varchar](100) NULL,
	[F_Zhaiyao] [varchar](255) NULL,
	[F_SortCode] [int] NULL,
	[F_Source] [varchar](50) NULL,
	[F_Author] [varchar](50) NULL,
	[F_SubTitle] [varchar](100) NULL,
	[F_IsRed] [bit] NULL,
	[F_IsHot] [bit] NULL,
	[F_IsTop] [bit] NULL,
	[F_IsSlide] [bit] NULL,
	[F_IsMsg] [bit] NULL,
	[F_Content] [ntext] NULL,
	[F_ImgUrl] [varchar](255) NULL,
	[F_LinkUrl] [varchar](255) NULL,
	[F_Click] [int] NULL,
	[F_Status] [bit] NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [varchar](50) NULL,
 CONSTRAINT [PK_DC_Article] PRIMARY KEY NONCLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF__Wct_Reque__IsDef__412EB0B6]    Script Date: 04/28/2020 08:52:41 ******/
ALTER TABLE [dbo].[Wct_RequestRule] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
/****** Object:  Default [DF__Wct_Reque__IsLik__4222D4EF]    Script Date: 04/28/2020 08:52:41 ******/
ALTER TABLE [dbo].[Wct_RequestRule] ADD  DEFAULT ((0)) FOR [IsLikeSearch]
GO
/****** Object:  Default [DF_Sys_UserLogOn_F_ErrorNum]    Script Date: 04/28/2020 08:52:41 ******/
ALTER TABLE [dbo].[Sys_UserLogOn] ADD  CONSTRAINT [DF_Sys_UserLogOn_F_ErrorNum]  DEFAULT ((0)) FOR [F_ErrorNum]
GO
/****** Object:  Default [DF_Sys_ServerState_F_Cout]    Script Date: 04/28/2020 08:52:41 ******/
ALTER TABLE [dbo].[Sys_ServerState] ADD  CONSTRAINT [DF_Sys_ServerState_F_Cout]  DEFAULT ((0)) FOR [F_Cout]
GO
