<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="ConnStr" value="Server=192.168.1.17;Initial Catalog=WaterCloudNetDb;User ID=sa;Password=admin@12345"/>-->
    <add key="ConnStr" value="Server=localhost;database =watercloudnetdb;uid=root;pwd=root;"/>
    <add key="TemplateData" value="Template\WaterCloudApp.tt,Template\WaterCloudEntity.tt,Template\WaterCloudIRepository.tt,Template\WaterCloudRepository.tt"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
