@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
    <script>
        layui.use(['jquery', 'form', 'table', 'common','commonTable', 'optimizeSelectOption'], function () {
            var $ = layui.jquery,
                form = layui.form,
                table = layui.table,
                commonTable = layui.commonTable,
                common = layui.common;
            //权限控制(js是值传递)
            toolbarDemo.innerHTML = common.authorizeButtonNew(toolbarDemo.innerHTML);
            commonTable.rendertable({
                elem: '#currentTableId',
                id: 'currentTableId',
                url: '/SystemOrganize/Duty/GetGridJson',
                filter: {
                    clearFilter: false
                },
                cols: [[
                    { field: 'F_FullName', title: '岗位名称', width: 120, sort: true, filter: true },
                    { field: 'F_EnCode', title: '岗位编号', width: 120, sort: true, filter: true },
                    {
                        field: 'F_OrganizeId', title: '归属公司', width: 120, sort: true, filter: true,
                        templet: function (d) {
                            return top.clients.company[d.F_OrganizeId] == null ? "" : top.clients.company[d.F_OrganizeId].fullname;
                        }
                    },
                    {
                        field: 'F_EnabledMark', title: '状态', width: 80, sort: true, filter: true,
                        templet: function (d) {
                            if (d.F_EnabledMark == true) {
                                return "<span class='layui-btn layui-btn-normal layui-btn-xs'>有效</span>";
                            } else {
                                return "<span class='layui-btn layui-btn-warm layui-btn-xs'>无效</span>";
                            }
                        }
                    }, 
                    {
                        field: 'F_CreatorTime', title: '创建时间', width: 120, sort: true, filter: { type: 'date[yyyy-MM-dd HH:mm:ss]' },
                        templet: function (d) {
                            if (d.F_CreatorTime) {
                                var time = new Date(d.F_CreatorTime);
                                return time.Format("yyyy-MM-dd");
                            }
                            return '';
                        }
                    },
                    { field: 'F_Description', title: '备注', minWidth: 150, sort: true, filter: true },
                ]]
            });
            wcLoading.close();
            // 监听搜索操作
            form.on('submit(data-search-btn)', function (data) {
                //执行搜索重载
                commonTable.reloadtable({
                    elem: 'currentTableId',
                    curr: 1,
                    where: { keyword: data.field.txt_keyword }
                });
                duty = null;
                return false;
            });
            var duty;
            table.on('row(currentTableFilter)', function (obj) {
                obj.tr.addClass("layui-table-click").siblings().removeClass("layui-table-click");
                duty = obj;
            })
            /**
             * toolbar监听事件
             */
            table.on('toolbar(currentTableFilter)', function (obj) {
                if (obj.event === 'add') {  // 监听删除操作
                    common.modalOpen({
                        title: "添加岗位",
                        url: "/SystemOrganize/Duty/Form",
                        width: "500px",
                        height: "450px",
                    });
                }
                else if (obj.event === 'delete') {
                    if (duty == null) {
                        common.modalMsg("未选中数据", "warning");
                        return false;
                    }
                    common.deleteForm({
                        url: "/SystemOrganize/Duty/DeleteForm",
                        param: { keyValue: duty.data.F_Id },
                        success: function () {
                            common.reload('data-search-btn');
                        }
                    });
                }
                else if (obj.event === 'edit') {
                    if (duty == null) {
                        common.modalMsg("未选中数据", "warning");
                        return false;
                    }
                    common.modalOpen({
                        title: "编辑岗位",
                        url: "/SystemOrganize/Duty/Form?keyValue=" + duty.data.F_Id,
                        width: "500px",
                        height: "450px",
                    });
                }
                else if (obj.event === 'details') {
                    if (duty == null) {
                        common.modalMsg("未选中数据", "warning");
                        return false;
                    }
                    common.modalOpen({
                        title: "查看岗位",
                        url: "/SystemOrganize/Duty/Details?keyValue=" + duty.data.F_Id,
                        width: "500px",
                        height: "450px",
                        btn: []
                    });
                }
                else if (obj.event === 'import') {
                    common.modalOpen({
                        title: "导入界面",
                        url: "/SystemOrganize/Duty/Import",
                        width: "650px",
                        height: "600px",
                    });
                }
                else if (obj.event === 'export') {
                    window.open('/SystemOrganize/Duty/Export?keyword=' + $('#txt_keyword').val());
                }
                return false;
            });
        });
    </script>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            @*<legend>搜索信息</legend>*@
            <div>
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">关键字:</label>
                            <div class="layui-input-inline">
                                <input type="text" id="txt_keyword" name="txt_keyword" autocomplete="off" class="layui-input" placeholder="">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container" id="toolbar">
                <button id="NF-add" authorize="yes" class="layui-btn layui-btn-sm data-add-btn layui-hide" lay-event="add"><i class="layui-icon">&#xe654;</i>新建</button>
                <button id="NF-edit" authorize="yes" class="layui-btn layui-btn-sm layui-btn-warm data-edit-btn layui-hide" lay-event="edit"><i class="layui-icon">&#xe642;</i>修改</button>
                <button id="NF-delete" authorize="yes" class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn layui-hide" lay-event="delete"> <i class="layui-icon">&#xe640;</i>删除</button>
                <button id="NF-details" authorize="yes" class="layui-btn layui-btn-sm layui-btn-normal data-info-btn layui-hide" lay-event="details"> <i class="layui-icon">&#xe60b;</i>查看</button>
                <button id="NF-import" authorize class="layui-btn layui-btn-sm data-import-btn layui-hide" lay-event="import"> <i class="layui-icon">&#xe67c;</i>导入</button>
                <button id="NF-export" authorize class="layui-btn layui-btn-sm layui-btn-warm data-export-btn layui-hide" lay-event="export"> <i class="layui-icon">&#xe67d;</i>导出</button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

    </div>
</div>