@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
    <script>
        layui.use(['jquery', 'form', 'table', 'common', 'optimizeSelectOption', 'soulTable'], function () {
            var $ = layui.jquery,
                form = layui.form,
                table = layui.table,
                soulTable = layui.soulTable,
                common = layui.common;
            //权限控制(js是值传递)
            toolbarDemo.innerHTML = common.authorizeButtonNew(toolbarDemo.innerHTML);
            table.render({
                elem: '#currentTableId',
                toolbar: '#toolbarDemo',//工具栏
                defaultToolbar: ['filter', 'exports', 'print'],//默认工具栏
                method: 'get',//请求方法
                cellMinWidth: 100,//最小宽度
                limit: 10,//每页数据 默认
                limits: [10, 20, 30, 40, 50],
                id: 'currentTableId',
                url: common.urlAddTime('/SystemOrganize/Duty/GetGridJson'),
                height: 'full-110',
                loading: false,
                page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                    layout: ['skip', 'prev', 'page', 'next', 'limit', 'count'] //自定义分页布局
                    , curr: 1 //设定初始在第 1 页
                    , groups: 3 //只显示 1 个连续页码
                    , first: false //不显示首页
                    , last: false //不显示尾页
                },
                autoColumnWidth: true,
                overflow: { // 默认所有表格都超出
                    type: 'tips'
                    , hoverTime: 300 // 悬停时间，单位ms, 悬停 hoverTime 后才会显示，默认为 0
                    , color: 'black' // 字体颜色
                    , bgColor: 'white' // 背景色
                    , header: true, // 表头支持 overflow
                    total: true // 合计行支持 overflow
                },
                filter: {
                    //items: ['column', 'excel', 'condition'], // 只显示表格列和导出excel两个菜单项
                    clearFilter: false
                },
                contextmenu: {
                    header: [
                        {
                            name: '复制',
                            icon: 'layui-icon layui-icon-template',
                            click: function (obj) {
                                soulTable.copy(obj.text)
                                layer.msg('复制成功！')
                            }
                        },
                        {
                            name: '导出excel',
                            icon: 'layui-icon layui-icon-download-circle',
                            click: function () {
                                soulTable.export(this.id)
                            }
                        },
                        {
                            name: '重载表格',
                            icon: 'layui-icon layui-icon-refresh-1',
                            click: function () {
                                table.reload(this.id)
                            }
                        }
                    ],
                    // 表格内容右键菜单配置
                    body: [
                        {
                            name: '复制',
                            icon: 'layui-icon layui-icon-template',
                            click: function (obj) {
                                soulTable.copy(obj.text)
                                layer.msg('复制成功！')
                            }
                        }
                    ],
                    // 合计栏右键菜单配置
                    total: []
                },
                excel: {
                    filename: '表格信息' + new Date().formatDate() + '.xlsx',
                },
                request: {
                    pageName: 'page' //页码的参数名称，默认：page
                    , limitName: 'rows' //每页数据量的参数名，默认：limit
                },
                parseData: function (res) { //res 即为原始返回的数据
                    return {
                        "code": res.state, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.count, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                },
                cols: common.tableAuthorizeFields([[
                    { field: 'F_FullName', title: '岗位名称', width: 120, sort: true, filter: true },
                    { field: 'F_EnCode', title: '岗位编号', width: 120, sort: true, filter: true },
                    {
                        field: 'F_OrganizeId', title: '归属公司', width: 120, sort: true, filter: true,
                        templet: function (d) {
                            return top.clients.company[d.F_OrganizeId] == null ? "" : top.clients.company[d.F_OrganizeId].fullname;
                        }
                    },
                    {
                        field: 'F_EnabledMark', title: '有效', width: 80, sort: true, filter: true,
                        templet: function (d) {
                            if (d.F_EnabledMark == true) {
                                return "<input type='checkbox' checked='' lay-skin='primary' name='true' valuer='true'>";
                            } else {
                                return "<input type='checkbox' name='false'  lay-skin='primary' valuer='false'>";
                            }
                        }
                    },
                    {
                        field: 'F_CreatorTime', title: '创建时间', width: 120, sort: true, filter: { type: 'date[yyyy-MM-dd HH:mm:ss]' },
                        templet: function (d) {
                            if (d.F_CreatorTime) {
                                var time = new Date(d.F_CreatorTime);
                                return time.Format("yyyy-MM-dd");
                            }
                        }
                    },
                    { field: 'F_Description', title: '备注', minWidth: 150, sort: true, filter: true },
                ]]),
                done: function () {
                    soulTable.render(this)
                }
            });
            wcLoading.close();
            // 监听搜索操作
            form.on('submit(data-search-btn)', function (data) {
                //执行搜索重载
                common.reloadtable({
                    elem: 'currentTableId',
                    curr: 1,
                    where: { keyword: data.field.txt_keyword }
                });
                duty = null;
                return false;
            });
            var duty;
            table.on('row(currentTableFilter)', function (obj) {
                obj.tr.addClass("layui-table-click").siblings().removeClass("layui-table-click");
                duty = obj;
            })
            /**
             * toolbar监听事件
             */
            table.on('toolbar(currentTableFilter)', function (obj) {
                if (obj.event === 'add') {  // 监听删除操作
                    common.modalOpen({
                        title: "添加岗位",
                        url: "/SystemOrganize/Duty/Form",
                        width: "500px",
                        height: "450px",
                    });
                }
                else if (obj.event === 'delete') {
                    if (duty == null) {
                        common.modalMsg("未选中数据", "warning");
                        return false;
                    }
                    common.deleteForm({
                        url: "/SystemOrganize/Duty/DeleteForm",
                        param: { keyValue: duty.data.F_Id },
                        success: function () {
                            common.reload('data-search-btn');
                        }
                    });
                }
                else if (obj.event === 'edit') {
                    if (duty == null) {
                        common.modalMsg("未选中数据", "warning");
                        return false;
                    }
                    common.modalOpen({
                        title: "编辑岗位",
                        url: "/SystemOrganize/Duty/Form?keyValue=" + duty.data.F_Id,
                        width: "500px",
                        height: "450px",
                    });
                }
                else if (obj.event === 'details') {
                    if (duty == null) {
                        common.modalMsg("未选中数据", "warning");
                        return false;
                    }
                    common.modalOpen({
                        title: "查看岗位",
                        url: "/SystemOrganize/Duty/Details?keyValue=" + duty.data.F_Id,
                        width: "500px",
                        height: "450px",
                        btn: []
                    });
                }
                else if (obj.event === 'import') {
                    common.modalOpen({
                        title: "导入界面",
                        url: "/SystemOrganize/Duty/Import",
                        width: "650px",
                        height: "500px",
                    });
                }
                else if (obj.event === 'export') {
                    window.open('/SystemOrganize/Duty/Export?keyword=' + $('#txt_keyword').val());
                }
                return false;
            });
        });
    </script>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            @*<legend>搜索信息</legend>*@
            <div>
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">关键字:</label>
                            <div class="layui-input-inline">
                                <input type="text" id="txt_keyword" name="txt_keyword" autocomplete="off" class="layui-input" placeholder="">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container" id="toolbar">
                <button id="NF-add" authorize="yes" class="layui-btn layui-btn-sm data-add-btn layui-hide" lay-event="add"><i class="layui-icon">&#xe654;</i>新建</button>
                <button id="NF-edit" authorize="yes" class="layui-btn layui-btn-sm layui-btn-warm data-edit-btn layui-hide" lay-event="edit"><i class="layui-icon">&#xe642;</i>修改</button>
                <button id="NF-delete" authorize="yes" class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn layui-hide" lay-event="delete"> <i class="layui-icon">&#xe640;</i>删除</button>
                <button id="NF-details" authorize="yes" class="layui-btn layui-btn-sm layui-btn-normal data-info-btn layui-hide" lay-event="details"> <i class="layui-icon">&#xe60b;</i>查看</button>
                <button id="NF-import" authorize class="layui-btn layui-btn-sm data-import-btn layui-hide" lay-event="import"> <i class="layui-icon">&#xe67c;</i>导入</button>
                <button id="NF-export" authorize class="layui-btn layui-btn-sm layui-btn-warm data-export-btn layui-hide" lay-event="export"> <i class="layui-icon">&#xe67d;</i>导出</button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

    </div>
</div>