@{
    ViewBag.Title = "Form"; 
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    layui.use(['jquery', 'form', 'laydate', 'common','optimizeSelectOption'], function () {
        var form = layui.form,
            $ = layui.$,
            common = layui.common,
            laydate = layui.laydate;
        var keyValue = $.request("keyValue");
        //权限字段
        common.authorizeFields('adminform');

        $(function () {
            initControl();
            if (!!keyValue) {
                 common.ajax({
                   url: '/SystemManage/Coderule/GetFormJson',
                   dataType: 'json',
                   data: { keyValue: keyValue },
                   async: false,
                   success: function (data) {
                       common.val('adminform', data);
                    }
               });
           }
           form.render();
       });
       wcLoading.close();

       function initControl() {
           //此处需修改
            $("#F_TemplateId").bindSelect({
                url: "/SystemManage/Template/GetListJson",
                id: "F_Id",
                text: "F_TemplateName"
            });
            $("#F_Reset").bindSelect({
                data: top.clients.dataItems["RuleReset"],
                id: ""
            });
       }

       //监听提交
       form.on('submit(saveBtn)', function (data) {
           var postData = data.field;
            if (!postData["F_EnabledMark"]) postData["F_EnabledMark"] = false;
           common.submitForm({
               url: '/SystemManage/Coderule/SubmitForm?keyValue=' + keyValue,
               param: postData,
               success: function () {
                   common.parentreload('data-search-btn');
               }
           })
           return false;
       });
   });
</script>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div class="layui-form layuimini-form" lay-filter="adminform">
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">规则名称</label>
                   <div class="layui-input-block">
                        <input type="text" id="F_RuleName" name="F_RuleName" autocomplete="off" lay-verify="required" placeholder="请输入" class="layui-input">
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">规则内容</label>
                   <div class="layui-input-block">
                        <input type="text" id="F_RuleJson" name="F_RuleJson" autocomplete="off" lay-verify="required" placeholder="请输入" class="layui-input">
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                   <label class="layui-form-label required">重设机制</label>
                   <div class="layui-input-block">
                        <select id="F_Reset" name="F_Reset" lay-verify="required">
                            <option value="">==请选择==</option>
                        </select>
                   </div>
               </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label required">打印模板</label>
                    <div class="layui-input-block">
                        <select id="F_TemplateId" name="F_TemplateId" lay-verify="required">
                            <option value="">==请选择==</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">选项</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="F_EnabledMark" id="F_EnabledMark" checked="" value="true" title="有效">
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <button class="layui-btn site-demo-active" lay-submit id="submit" lay-filter="saveBtn">确认保存</button>
                </div>
            </div>
        </div>
    </div>
</body>

