@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
 }
 <div class="layuimini-container">
     <div class="layuimini-main">
         <fieldset class="table-search-fieldset">
             <div>
                 <form class="layui-form layui-form-pane" >
                     <div class="layui-form-item">
                         <div class="layui-inline">
                             <label class="layui-form-label">关键字:</label>
                             <div class="layui-input-inline">
                                 <input type="text" id="txt_keyword" name="txt_keyword" autocomplete="off" class="layui-input" >
                             </div>
                         </div>
                        <div class="layui-inline"> 
                             <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                         </div>
                     </div>
                 </form>
             </div>
         </fieldset>
         <script type="text/html" id="toolbarDemo">
             <div class="layui-btn-container" id="toolbar">
                 <button id="NF-add" authorize class="layui-btn layui-btn-sm data-add-btn layui-hide" lay-event="add"><i class="layui-icon">&#xe654;</i>申请</button>
                 <button id="NF-edit" authorize class="layui-btn layui-btn-sm layui-btn-warm data-edit-btn layui-hide" lay-event="edit"><i class="layui-icon">&#xe642;</i>修改</button>
                 <button id="NF-delete" authorize class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn layui-hide" lay-event="delete"> <i class="layui-icon">&#xe640;</i>删除</button>
                 <button id="NF-details" authorize class="layui-btn layui-btn-sm layui-btn-normal data-info-btn layui-hide" lay-event="details"> <i class="layui-icon">&#xe60b;</i>进度</button>
             </div>
         </script>
         <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
     </div>
 </div>
 <script>
     layui.use(['jquery', 'form', 'table', 'common', 'commonTable','optimizeSelectOption'], function () {
         var form = layui.form,
             table = layui.table,
             commonTable = layui.commonTable,
             common = layui.common;
         var entity;
         //权限控制(js是值传递)
         toolbarDemo.innerHTML = common.authorizeButtonNew(toolbarDemo.innerHTML);
         commonTable.rendertable({
             elem: '#currentTableId',
             id: 'currentTableId',
             url: '/FlowManage/Flowinstance/GetGridJson',           
             cols: [[
                 {
                     field: 'F_IsFinish', title: '流程状态', width: 120, sort: true, 
                     templet: function (d) {
                         if (d.F_IsFinish == 0) {
                             return "<span class='layui-badge layui-bg-blue'>正在运行</span>";
                         }
                         else if (d.F_IsFinish == 3) {
                             return "<span class= 'layui-badge'>不同意</span >";
                         }
                         else if (d.F_IsFinish == 4) {
                             return "<span class= 'layui-badge layui-bg-gray'>被驳回</span >";
                         }
                         else{
                             return "<span class='layui-badge layui-bg-green'>审批通过</span>";
                         }
                     }
                 },
                 //此处需修改
                 { field: 'F_Code', title: '实例编号', width: 150, sort: true },
                 { field: 'F_CustomName', title: '实例名称', minWidth: 150, sort: true },
                 { field: 'F_ActivityName', title: '当前节点名称', width: 120 },
                 { field: 'F_Description', title: '实例备注', minWidth: 150 },
                 {
                     field: 'F_CreatorTime', title: '创建时间', width: 120,
                     templet: function (d) {
                         if (d.F_CreatorTime) {
                             var time = new Date(d.F_CreatorTime);
                             return time.Format("yyyy-MM-dd");
                         }
                         return '';
                     }
                 },
                 { field: 'F_CreatorUserName', title: '创建人', width: 120, sort: true },
             ]]
         });
         // 监听搜索操作
         form.on('submit(data-search-btn)', function (data) {
             //执行搜索重载
             commonTable.reloadtable({
                 elem: 'currentTableId',
                 curr: 1,
                 where: { keyword: data.field.txt_keyword}
             });
             entity = null;
             return false;
         });
         wcLoading.close();
         table.on('row(currentTableFilter)', function (obj) {
             obj.tr.addClass("layui-table-click").siblings().removeClass("layui-table-click");
             entity = obj;
         })
         //toolbar监听事件
         table.on('toolbar(currentTableFilter)', function (obj) { 
             if (obj.event === 'add') {  // 监听添加操作
                 common.openNewTabByIframe({
                     title: "添加申请",
                     href: "/FlowManage/Flowinstance/Form",
                 });
             } 
             else if (obj.event === 'delete') {
                 if (entity == null) {
                     common.modalMsg("未选中数据", "warning");
                     return false;
                 }
                 if (entity.data.F_IsFinish != 4) {
                     common.modalMsg("申请已处理，无法删除", "warning");
                     return false;
                 }
                 common.deleteForm({
                     url: "/FlowManage/Flowinstance/DeleteForm",
                     param: { keyValue: entity.data.F_Id },
                     success: function () {
                         common.reload('data-search-btn');
                         entity = null;
                   }
               });
           }
           else if (obj.event === 'edit') {
                 if (entity == null) {
                     common.modalMsg("未选中数据", "warning");
                     return false;
                 }
                 if (entity.data.F_IsFinish != 4) {
                     common.modalMsg("申请已处理，无法修改", "warning");
                     return false;
                 }
                 common.openNewTabByIframe({
                     title: "修改申请",
                     href: "/FlowManage/Flowinstance/Form?keyValue=" + entity.data.F_Id,
                 });
           }
           else if (obj.event === 'details') {
               if (entity == null) {
                   common.modalMsg("未选中数据", "warning");
                   return false;
                 }
                 common.modalOpen({
                     title: "查看进度",
                     url: "/FlowManage/Flowinstance/Details?keyValue=" + entity.data.F_Id,
                     width: "700px",
                     height: "600px",
                     btn: []
                 });
           }
           return false;
       });
   });
</script>
