@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    layui.use(['jquery', 'form', 'table', 'common', 'treeTable', 'layer', 'optimizeSelectOption'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            layer = layui.layer,
            treeTable = layui.treeTable,
            common = layui.common;
        //加载数据
        wcLoading.close();
        //权限控制(js是值传递)
        toolbarDemo.innerHTML = common.authorizeButtonNew(toolbarDemo.innerHTML);
        var rendertree = common.rendertreetable({
                elem: '#currentTableId',
                url: '/SystemManage/ItemsType/GetGridJson',
                cols: [[
                    { field: 'F_FullName', title: '名称', width: 200 },
                    { field: 'F_EnCode', title: '编号', width: 120 },
                    { field: 'F_SortCode', title: '排序', width: 60 },
                    {
                        field: 'F_EnabledMark', title: '状态', width: 80,
                        templet: function (d) {
                            if (d.F_EnabledMark == true) {
                                return "<span class='layui-btn layui-btn-normal layui-btn-xs'>有效</span>";
                            } else {
                                return "<span class='layui-btn layui-btn-warm layui-btn-xs'>无效</span>";
                            }
                        }
                    }, 
                    {
                        field: 'F_CreatorTime', title: '创建时间', width: 120,
                        templet: function (d) {
                            if (d.F_CreatorTime) {
                                var time = new Date(d.F_CreatorTime);
                                return time.Format("yyyy-MM-dd");
                            }
                            return '';
                        }
                    },
                    { field: 'F_Description', title: '备注', minWidth: 150 },
                ]],
                done: function () {
                    //展开全部
                    rendertree.expandAll(); 
                }
        });
        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            queryJson = data.field.txt_keyword;
            common.reloadtreetable(rendertree, {
                where: { keyword: queryJson },
            }); 
            item = null;
            return false;
        });
        var item;
        treeTable.on('row(currentTableId)', function (obj) {
            obj.tr.addClass("layui-table-click").siblings().removeClass("layui-table-click");
            item = obj;
        })
        /**
         * toolbar监听事件
         */
        treeTable.on('toolbar(currentTableId)', function (obj) {
            if (obj.event === 'add') {  // 监听操作
                keyValue = !!item ? item.data.F_Id : null;
                common.modalOpen({
                    title: "添加分类",
                    url: "/SystemManage/ItemsType/Form?event=add&keyValue=" + keyValue,
                    width: "450px",
                    height: "380px",
                });
            }
            else if (obj.event === 'delete') {
                if (item == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                common.deleteForm({
                    url: "/SystemManage/ItemsType/DeleteForm",
                    param: { keyValue: item.data.F_Id },
                    success: function () {
                        common.reload('data-search-btn');
                    }
                });
            }
            else if (obj.event === 'edit') {
                if (item == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                common.modalOpen({
                    title: "编辑分类",
                    url: "/SystemManage/ItemsType/Form?event=edit&keyValue=" + item.data.F_Id,
                    width: "450px",
                    height: "380px",
                });
            }
            else if (obj.event === 'details') {
                if (item == null) {
                    common.modalMsg("未选中数据", "warning");
                    return false;
                }
                common.modalOpen({
                    title: "查看分类",
                    url: "/SystemManage/ItemsType/Details?keyValue=" + item.data.F_Id,
                    width: "450px",
                    height: "380px",
                    btn: []
                });
            }
            else if (obj.event === 'TABLE_SEARCH') {
                var _that = $("#searchField");
                if (_that.hasClass("layui-hide")) {
                    _that.removeClass('layui-hide');
                } else {
                    _that.addClass('layui-hide');
                }
            }
            return false;
        });
    });
</script>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset layui-hide" id="searchField">
            @*<legend>搜索信息</legend>*@
            <div>
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">关键字:</label>
                            <div class="layui-input-inline">
                                <input type="text" id="txt_keyword" name="txt_keyword" autocomplete="off" class="layui-input" placeholder="">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container" id="toolbar">
                <button id="NF-add" authorize="yes" class="layui-btn layui-btn-sm data-add-btn layui-hide" lay-event="add"><i class="layui-icon">&#xe654;</i>新建</button>
                <button id="NF-edit" authorize="yes" class="layui-btn layui-btn-sm layui-btn-warm data-edit-btn layui-hide" lay-event="edit"><i class="layui-icon">&#xe642;</i>修改</button>
                <button id="NF-delete" authorize="yes" class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn layui-hide" lay-event="delete"> <i class="layui-icon">&#xe640;</i>删除</button>
                <button id="NF-details" authorize="yes" class="layui-btn layui-btn-sm layui-btn-normal data-info-btn layui-hide" lay-event="details"> <i class="layui-icon">&#xe60b;</i>查看</button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

    </div>
</div>