@{
    ViewBag.Title = "Index"; 
    Layout = "~/Views/Shared/_Index.cshtml";
}
    <script>
        function uuid() {
            var s = [];
            var hexDigits = "0123456789abcdef";
            for (var i = 0; i < 36; i++) {
                s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
            }
            s[14] = "4"; // bits 12-15 of the time_hi_and_version field to 0010
            s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1); // bits 6-7 of the clock_seq_hi_and_reserved to 01
            s[8] = s[13] = s[18] = s[23] = "-";

            var uuid = s.join("");
            return uuid;
        }
        layui.use(['jquery', 'table', 'form', 'laydate', 'tablePlug', 'common'], function () {
            var form = layui.form,
                $ = layui.$,
                common = layui.common,
                table = layui.table
            laydate = layui.laydate;
            var keyValue = $.request("keyValue");
            //权限字段
            common.authorizeFields('adminform');
            var loading = layer.load(0, { shade: false });
            $(function () {
                initControl();
                if (!!keyValue) {
                    common.ajax({
                        url: '/SystemManage/DataPrivilegeRule/GetFormJson',
                        dataType: 'json',
                        data: { keyValue: keyValue },
                        async: false,
                        success: function (data) {
                            common.val('adminform', data);
                            if (!!$('#F_ModuleId').val()) {
                                $('#toolbar').removeClass('layui-hide');
                            }
                            var datas = JSON.parse(data.F_PrivilegeRules);
                            for (var i = 0; i < datas.length; i++) {
                                datas[i]["F_Id"] = uuid();
                            }
                            table.reload('currentTableId', {
                                data: datas
                            });
                        }
                    });
                }
                form.render();
            });
            common.rendertable({
                elem: '#currentTableId',
                data: [],
                page: false,
                height: $(window).height() > 500 ? 'full-170' : 'full-210',
                cols: [[
                    { field: 'F_Id', title: 'ID', hide: true, hideAlways: true },
                    { field: 'Operation', title: '规则间条件', width: 120 },
                    { field: 'Filters', title: '规则内容', minWidth: 200 },
                    { field: 'Description', title: '规则备注', minWidth: 200 },
                ]],
                done: function () {
                    //关闭加载
                    layer.closeAll('loading');
                }
            });
            var entity;
            table.on('row(currentTableFilter)', function (obj) {
                obj.tr.addClass("layui-table-click").siblings().removeClass("layui-table-click");
                entity = obj;
            })
            //toolbar监听事件
            table.on('toolbar(currentTableFilter)', function (obj) {
                if (obj.event === 'add') {  // 监听删除操作
                    var module = $('#F_ModuleId').val();
                    if (!module) {
                        common.modalMsg("未选中模块", "warning");
                        return false;
                    }
                    common.modalOpen({
                        title: "添加规则",
                        url: "/SystemManage/DataPrivilegeRule/RuleForm?module=" + module,
                        width: "750px",
                        height: "500px",
                    });
                }
                else if (obj.event === 'delete') {
                    if (entity == null) {
                        common.modalMsg("未选中数据", "warning");
                        return false;
                    }
                    common.modalConfirm("注：您确定要删除该项数据吗？", function (r) {
                        if (r) {
                            var index = parent.layer.load(0, {
                                shade: [0.5, '#000'], //0.1透明度的背景
                            });
                            try {
                                var cachedata = table.cache.currentTableId;
                                for (var i = 0; i < cachedata.length; i++) {
                                    if (entity.data.F_Id == cachedata[i].F_Id) {
                                        cachedata.splice(i, 1);
                                        break;
                                    }
                                }
                                table.reload('currentTableId', {
                                    data: cachedata
                                });
                                entity = null;
                                common.modalMsg("操作成功", "success");
                            } catch (e) {
                                alert(e);
                            }
                            parent.layer.close(index);
                        }
                        else {
                            return false;
                        }
                    });
                }
                else if (obj.event === 'edit') {
                    if (entity == null) {
                        common.modalMsg("未选中数据", "warning");
                        return false;
                    }
                    var module = $('#F_ModuleId').val();
                    if (!module) {
                        common.modalMsg("未选中模块", "warning");
                        return false;
                    }
                    common.modalOpen({
                        title: "编辑规则",
                        url: "/SystemManage/DataPrivilegeRule/RuleForm?keyValue=" + entity.data.F_Id + "&module=" + module,
                        width: "750px",
                        height: "500px",
                    });
                }
                return false;
            });
            function initControl() {
                //绑定数据源
                //类型为下拉框时
                $("#F_ModuleId").bindSelect({
                    url: "/SystemManage/Module/GetSelectMunuJson",
                });
            }
            //select验证
            form.verify({
                required: function (value, item) {
                    var msg = "必填项不能为空";
                    value = $.trim(value);
                    var isEmpty = !value || value.length < 1;
                    // 当前验证元素是select且为空时,将页面定位至layui渲染的select处，或自定义想定位的位置
                    if (item.tagName == 'SELECT' && isEmpty) {
                        $("html").animate({
                            scrollTop: $(item).siblings(".layui-form-select").offset().top - 74
                        }, 50);
                    }
                    if (isEmpty) {
                        return msg;
                    }
                }
            });
            //监听select
            form.on('select(F_ModuleId)', function (data) {
                if (!!data.value) {
                    $('#toolbar').removeClass('layui-hide');
                }
                else {
                    $('#toolbar').addClass('layui-hide');
                }
                return false;
            });
            //监听提交
            form.on('submit(saveBtn)', function (data) {
                var postData = data.field;
                var cachedata = table.cache.currentTableId
                if (cachedata.length == 0) {
                    common.modalMsg("未添加规则", "warning");
                    return false;
                }
                postData.listData =JSON.stringify(cachedata);
                common.submitForm({
                    url: '/SystemManage/DataPrivilegeRule/SubmitForm?keyValue=' + keyValue,
                    param: postData,
                    success: function () {
                        var iframes = parent.document.getElementsByTagName("iframe");
                        for (var i = 0; i < iframes.length; i++) {
                            var doc = iframes[i].contentWindow.document;
                            if (iframes[i].src) {

                            }
                        }
                    }
                })
                return false;
            });
        });
    </script>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <fieldset class="table-search-fieldset">
                <div class="layui-form layuimini-form" lay-filter="adminform">
                    <div class="layui-form-item">
                        <div class="layui-inline layui-hide">
                            <label class="layui-form-label required">模块编号</label>
                            <div class="layui-input-inline">
                                <select id="F_ModuleId" name="F_ModuleId" lay-filter="F_ModuleId" lay-verify="required" lay-search>
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline layui-hide">
                            <label class="layui-form-label required">排序</label>
                            <div class="layui-input-inline">
                                <input type="number" pattern="[0-9]*" id="F_SortCode" name="F_SortCode" autocomplete="off" lay-verify="required" class="layui-input" value="0">
                            </div>
                        </div>
                        <div class="layui-inline layui-hide">
                            <label class="layui-form-label">选项</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" name="F_EnabledMark" id="F_EnabledMark" checked="" value="true" title="有效标识">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item text-right">
                        <input type="text"  class="layui-hide" id="tempdata" name="tempdata">
                        <button class="layui-btn" lay-submit id="submit" lay-filter="saveBtn">确认保存</button>
                    </div>
                </div>
            </fieldset>
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container layui-hide" id="toolbar">
                    <button id="NF-add"  class="layui-btn layui-btn-sm data-add-btn" lay-event="add"><i class="layui-icon">&#xe654;</i>新增</button>
                    <button id="NF-edit" class="layui-btn layui-btn-sm layui-btn-warm data-edit-btn" lay-event="edit"><i class="layui-icon">&#xe642;</i>修改</button>
                    <button id="NF-delete" class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> <i class="layui-icon">&#xe640;</i>删除</button>
                </div>
            </script>
            <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        </div>
    </div>
</body>

