@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    layui.use(['form', 'step', 'common', 'dtree'], function () {
        var $ = layui.$,
            form = layui.form,
            dtree = layui.dtree,
            common = layui.common,
            step = layui.step;
        var keyValue = $.request("keyValue");
        step.render({
            elem: '#stepForm',
            filter: 'stepForm',
            width: '85%', //设置容器宽度
            stepWidth: '300px',
            height: '450px',
            stepItems: [{
                title: '查看角色信息'
            }, {
                title: '查看功能权限'
            }]
        });
        $(function () {
            initControl();
            if (!!keyValue) {
                $.ajax({
                    url: "/SystemManage/Role/GetFormJson",
                    dataType: "json",
                    data: { keyValue: keyValue },
                    async: false,
                    success: function (data) {
                        common.val('stepForm', data);
                        common.setReadOnly('stepForm');
                    }
                });
            }
            form.render();
        });
        // 初始化树
        var DemoTree = dtree.render({
            elem: "#demoTree",
            width: '200px',
            method: "GET",
            async: false,
            checkbar: true,
            line: true,  // 显示树线
            initLevel: 0,
            icon: "-1", // 隐藏二级图标
            checkbarType: "p-casc",
            scroll: "#toolbarDiv", // 绑定div元素
            url: "/SystemManage/RoleAuthorize/GetPermissionTree", // 使用url加载（可与data加载同时存在）
            request: { roleId: keyValue }
        });
        function initControl() {
            $("#F_OrganizeId").bindSelect({
                url: "/SystemManage/Organize/GetTreeSelectJson",
            });
            $("#F_Type").bindSelect({
                url: "/SystemManage/ItemsData/GetSelectJson",
                param: { enCode: "RoleType" }
            });
        }
        var role;
        form.on('submit(formStep)', function (data) {
            role = data.field
            step.next('#stepForm');
            return false;
        });
        $('.pre').click(function () {
            step.pre('#stepForm');
        });
    })
</script>
<div class="layuimini-container">
    <div class="layuimini-main">
                    <div class="layui-carousel" id="stepForm" lay-filter="stepForm">
                        <div carousel-item>
                            <div>
                                <form class="layui-form">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">归属组织</label>
                                        <div class="layui-input-block">
                                            <select id="F_OrganizeId" name="F_OrganizeId" lay-verify="required">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">角色名称</label>
                                        <div class="layui-input-block">
                                            <input type="text" id="F_FullName" name="F_FullName" lay-verify="required" class="layui-input" placeholder="请填写角色名称">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">角色编号</label>
                                        <div class="layui-input-block">
                                            <input id="F_EnCode" name="F_EnCode" type="text" lay-verify="required" class="layui-input" placeholder="请输入角色编号" />
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">角色类型</label>
                                        <div class="layui-input-block">
                                            <select id="F_Type" name="F_Type" lay-verify="required">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">显示顺序</label>
                                        <div class="layui-input-block">
                                            <input id="F_SortCode" name="F_SortCode" type="number" class="layui-input" lay-verify="required" />
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">选项</label>
                                        <div class="layui-input-block">
                                            <input type="checkbox" name="F_EnabledMark" id="F_EnabledMark" checked="" value="true" title="有效标识">
                                        </div>
                                    </div>
                                    <div class="layui-form-item layui-form-text">
                                        <label class="layui-form-label">备注</label>
                                        <div class="layui-input-block">
                                            <textarea id="F_Description" name="F_Description" class="layui-textarea" placeholder="请输入备注"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group-bottom text-right">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" lay-submit lay-filter="formStep">
                                                &emsp;下一步&emsp;
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <form class="layui-form">
                                    <div class="layui-form-item ">
                                        <div style="height: 350px;overflow: auto;" id="toolbarDiv">
                                            <ul id="demoTree" class="dtree" data-id="0"></ul>
                                        </div>
                                    </div>
                                    <div class="form-group-bottom text-right">
                                        <div class="layui-input-block">
                                            <button type="button" class="layui-btn layui-btn-primary pre">上一步</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

    </div>
</div>
