@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    layui.use(['jquery', 'form', 'table', 'common', 'optimizeSelectOption', 'commonTable'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            commonTable = layui.commonTable,
            common = layui.common;
        //加载数据
        wcLoading.close();
        var value = $.request("value");
        var parentform = $.request("parentform");
        var currentWindow = !parent[parentform] ? common.currentWindow() : parent[parentform];
        var name = $.request("name");
        var ids = $.request("ids");
        commonTable.rendertable({
            elem: '#currentTableId',
            id: 'currentTableId',
            url: '/SystemOrganize/Role/GetSelectJson',
            where: { ids: (!!ids ? ids : "") },
            search: false,
            height: 'full-110',
            limit: 99999,//每页数据 默认
            page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['count'] //自定义分页布局
                , first: false //不显示首页
                , last: false //不显示尾页
            },
            toolbar: false,//工具栏
            cols: [[
                { type: 'checkbox' },
                { field: 'F_FullName', title: '角色名称', width: 200, sort: true },
                {
                    field: 'F_Type', title: '角色类型', width: 200, sort: true,
                    templet: function (d) {
                        return top.clients.dataItems["RoleType"][d.F_Type] == undefined ? "" : top.clients.dataItems["RoleType"][d.F_Type];
                    }
                },
                {
                    field: 'F_OrganizeId', title: '归属公司', width: 200, sort: true,
                    templet: function (d) {
                        return top.clients.company[d.F_OrganizeId] == undefined ? "" : top.clients.company[d.F_OrganizeId].fullname;
                    }
                },
                {
                    field: 'F_EnabledMark', title: '状态', width: 80, sort: true,
                    templet: function (d) {
                        if (d.F_EnabledMark == true) {
                            return "<span class='layui-btn layui-btn-normal layui-btn-xs'>有效</span>";
                        } else {
                            return "<span class='layui-btn layui-btn-warm layui-btn-xs'>无效</span>";
                        }
                    }
                }
            ]]
        });
        // 监听双击事件
        table.on('rowDouble(currentTableFilter)', function (obj) {
            var pvalue = obj.data.F_Id;
            var pname = obj.data.F_FullName;
            common.modalConfirm("注：您确定要选择{名称：" + pname + "}的数据吗？", function (r) {
                if (r) {
                    if (!!pvalue) {
                        currentWindow.$('#' + value).val(pvalue);
                    }
                    if (!!pname) {
                        currentWindow.$('#' + name).val(pname);
                    }
                    common.modalClose();
                }
            });
            return false;
        });
        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            commonTable.reloadtable({
                elem: 'currentTableId',
                page: false,
                where: { ids: (!!ids ? ids : ""), keyword: data.field.txt_keyword }
            });
            return false;
        });
        // 监听清除操作
        form.on('submit(data-clear-btn)', function (data) {
            ids ="";
            //执行搜索重载
            commonTable.reloadtable({
                elem: 'currentTableId',
                page: false,
                where: { ids: "", keyword: data.field.txt_keyword }
            });
            return false;
        });
        // 监听提交操作
        form.on('submit(saveBtn)', function (data) {
            var checkStatus = table.checkStatus("currentTableId").data;
            var pvalue = [];
            var pname = [];
            for (var i = 0; i < checkStatus.length; i++) {
                pvalue.push(checkStatus[i].F_Id);
                pname.push(checkStatus[i].F_FullName);
            }
            if (pvalue.length == 0) {
                common.modalConfirm("注：您确定要清除选择的数据吗？", function (r) {
                    if (r) {
                        if (!!pvalue) {
                            currentWindow.$('#' + value).val(null);
                        }
                        if (!!pname) {
                            currentWindow.$('#' + name).val(null);
                        }
                        common.modalClose();
                    }
                });
            }
            else {
                common.modalConfirm("注：您确定要选择{名称：" + pname.join(",") + "}的数据吗？", function (r) {
                    if (r) {
                        if (!!pvalue) {
                            currentWindow.$('#' + value).val(pvalue.join(","));
                        }
                        if (!!pname) {
                            currentWindow.$('#' + name).val(pname.join(","));
                        }
                        common.modalClose();
                    }
                });
            }
            return false;
        });
    });
</script>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            @*<legend>搜索信息</legend>*@
            <div>
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">关键字:</label>
                            <div class="layui-input-inline">
                                <input type="text" id="txt_keyword" name="txt_keyword" autocomplete="off" class="layui-input" placeholder="">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i class="layui-icon">&#xe615;</i> 搜 索</button>
                            <button type="submit" class="layui-btn layui-btn-danger" lay-submit lay-filter="data-clear-btn"><i class="layui-icon">&#xe640;</i> 清 除</button>
                        </div>
                    </div>
                    <div class="layui-form-item layui-hide">
                        <button class="layui-btn" lay-submit id="submit" lay-filter="saveBtn">确认保存</button>
                    </div>
                </form>
            </div>
        </fieldset>
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>
</div>